---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title="Contact Agrotech">
  <section class="">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, voluptatum suscipit saepe beatae fugit nobis, natus magnam incidunt non dignissimos architecto nulla, modi optio nemo aperiam tempora eum voluptatem vitae velit placeat obcaecati? Porro iure unde ipsa distinctio quas nisi, ducimus quam possimus deserunt autem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </section>
</Layout>
