---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={t("tab-title.services-exhibit")}>
  <p
    class="text-4xl text-center uppercase font-bold text-violet-700 pt-14 pb-4"
  >
    {t("exhibitor-services.title")}
  </p>
  <div
    class="flex lg:flex-row flex-col items-center justify-center gap-4 lg:px-14 p-8"
  >
    <div class="w-full sm:w-1/4 order-2 lg:order-1 lg:h-[380px] h-auto flex flex-col justify-between">
      <!--  -->
      <div
        class="max-w-sm border border-gray-200 rounded-lg shadow flex-1"
      >
        <a href="/files/kit_banquetes_2023.pdf" target="_blank">
          <img
            class="rounded-t-lg "
            src="/img/kit-de-banquetes-2023.webp"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="/files/kit_banquetes_2023.pdf">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-violet-800"
            >
            {t("exhibitor-services.item1")}
            </h5>
          </a>
          <a
            href="/files/kit_banquetes_2023.pdf" target="_blank"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-500 rounded-lg focus:ring-4 focus:outline-none hover:bg-violet-700"
          >
          {t("exhibitor-services.button")}
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            > 
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    
    <div class="w-full sm:w-1/4 order-2 lg:order-1 lg:h-[380px] h-auto flex flex-col justify-between">
      <div
        class="max-w-sm border border-gray-200 rounded-lg shadow flex-1"
      >
        <a href="/files/formato_contratacion_general_servicios_complementarios_2023.xls" target="_blank">
          <img
            class="rounded-t-lg "
            src="/img/FORMATO-GENERAL.webp"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-violet-800"
            >
            {t("exhibitor-services.item2")}
            </h5>
          </a>
          <a
          href="/files/formato_contratacion_general_servicios_complementarios_2023.xls" target="_blank"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300  hover:bg-violet-700"
          >
            {t("exhibitor-services.button")}
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            > 
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="w-full sm:w-1/4 order-2 lg:order-1 lg:h-[380px] h-auto flex flex-col justify-between">
      <div
        class="max-w-sm border border-gray-200 rounded-lg shadow flex-1"
      >
        <a href="/files/formato_contratacion_alimentos_bebidas_2023.xlsx" target="_blank">
          <img
            class="rounded-t-lg "
            src="/img/FORMATO-DE-CONTRATACION.webp"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-violet-800"
            >
            {t("exhibitor-services.item3")}
            </h5>
          </a>
          <a
            href="/files/formato_contratacion_alimentos_bebidas_2023.xlsx" target="_blank"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300  hover:bg-violet-700"
          >
          {t("exhibitor-services.button")}
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            > 
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="w-full sm:w-1/4 order-2 lg:order-1 lg:h-[380px] h-auto flex flex-col justify-between">
      <div
        class="max-w-sm border border-gray-200 rounded-lg shadow flex-1"
      >
        <a href="/files/instrucciones_embarque.pdf" target="_blank">
          <img
            class="rounded-t-lg "
            src="/img/instrucciones_de_embarque.webp"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-violet-800"
            >
            {t("exhibitor-services.item4")}
            </h5>
          </a>
          <a
            href="/files/instrucciones_embarque.pdf" target="_blank"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-violet-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300  hover:bg-violet-700"
          >
          {t("exhibitor-services.button")}
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            > 
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    
  </div>
</Layout>
