---
import Layout from "../../layouts/Layout.astro";
import i18next, { changeLanguage } from "i18next";
import { toolkit_es, toolkit_en } from "../../constants_gallery";
import LightBoxToolkit from "../../components/LightBoxToolkit.jsx";

changeLanguage("en");
---

<Layout title="Toolkit | WSI">
  <section class="container mx-auto lg:w-[1050px] p-8 pt-10 mb-10">
    <h1 class="font-bold text-4xl text-agro-green text-center text-violet-700">TOOLKIT</h1>
    <LightBoxToolkit images={i18next.language === 'en'
    ? toolkit_en
    : toolkit_es } client:visible />
  </section>
</Layout>
 ../components/LightBox.jsx
