---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="">
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga perspiciatis modi ex?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laudantium sequi aliquam reiciendis similique illum assumenda soluta quos rem tempore quam, pariatur, et eaque ea eligendi nostrum officia commodi, nisi alias iste aperiam provident quibusdam voluptate eum? Architecto recusandae quae, quidem harum asperiores similique animi.</p>
</Layout>