---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title="About Agrotech">
  <div class="container mx-auto m-10">
    <div class="flex flex-wrap items-center justify-center lg:px-24 mb-12">
      <div class="w-full p-4">
        <p class="text-4xl uppercase font-bold text-violet-700 mb-6">
          World Seafood Industry
        </p>
        <p class="text-xl text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          laudantium ipsam nemo facere veniam harum a, repudiandae consequuntur
          exercitationem perspiciatis! Saepe porro neque distinctio praesentium
          possimus ad, rem nam asperiores velit, accusamus, voluptas debitis
          deserunt. Reiciendis vero corrupti ullam, neque aliquid velit deserunt
          a. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit laudantium ipsam nemo facere veniam harum a, repudiandae
          consequuntur exercitationem perspiciatis! Saepe porro neque distinctio
          praesentium possimus ad, rem nam asperiores velit, accusamus, voluptas
          debitis deserunt. Reiciendis vero corrupti ullam, neque aliquid velit
          deserunt a
        </p>
      </div>
      <div class="w-full p-4">
        <img src="/worldseafood/img/seafood_3.webp" alt="Imagen" />
      </div>
      <p class="text-6xl uppercase font-bold text-violet-700 mb-6 p-8 ">
        ¡Los esperamos en <br> World Seafood Industry 2024!
      </p>
    </div>
    <!-- <div class="flex flex-wrap items-center justify-center lg:px-24">
      <div class="w-full sm:w-1/2 p-4 order-2 lg:order-1">
        <img src="/worldseafood/img/seafood_3.webp" alt="Imagen" />
      </div>
      <div class="w-full sm:w-1/2 p-4 order-1 lg:order-2">
        <p class="text-4xl uppercase font-bold text-violet-700 mb-6">
          Lorem ipsum dolor sit amet consectetur.
        </p>
        <p class="text-xl text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          laudantium ipsam nemo facere veniam harum a, repudiandae consequuntur
          exercitationem perspiciatis! Saepe porro neque distinctio praesentium
          possimus ad, rem nam asperiores velit, accusamus, voluptas debitis
          deserunt. Reiciendis vero corrupti ullam, neque aliquid velit deserunt
          a. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit laudantium ipsam nemo facere veniam harum a, repudiandae
          consequuntur exercitationem perspiciatis! Saepe porro neque distinctio
          praesentium possimus ad, rem nam asperiores velit, accusamus, voluptas
          debitis deserunt. Reiciendis vero corrupti ullam, neque aliquid velit
          deserunt a
        </p>
      </div>
    </div> -->
  </div>
</Layout>
