---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title={t("tab-title.exhibitor-profile")}>
  <div class="lg:m-14 m-8">
    <p class="font-bold text-4xl text-violet-700 mb-12">
      {t("exhibitor-profile.title")}
    </p>
    <p class="text-xl" set:html={t("exhibitor-profile.description1")} />
  </div>
  <div class="lg:px-24 p-4">
    <center>
      <p class="text-xl uppercase font-bold text-violet-700">
        {t("exhibitor-profile.topic1.title")}
      </p>
      <p>{t("exhibitor-profile.topic1.sub_title")}</p>
    </center>
    <div class="flex flex-wrap items-center justify-center lg:px-24 p-10">
      <div class="w-full sm:w-1/2 p-4 lg:order-1">
        <ul
          class="space-y-4 text-left text-gray-900 text-xl list-inside"
        >
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke: #020202;
                      stroke-linecap: square;
                      stroke-miterlimit: 10;
                      stroke-width: 1.488;
                    }
                  </style>
                </defs>
                <g id="human_resource" data-name="human resource">
                  <path
                    class="cls-1"
                    d="M9.14,22.5V19.68a0,0,0,0,0-.05,0H7.27a2,2,0,0,1-1.95-2V14.86l-1.91-.95,1.9-3.81V9.47a7.86,7.86,0,0,1,7.13-8,7.61,7.61,0,0,1,8.14,7.62,10.49,10.49,0,0,1-2.86,7.2V22.5"
                  ></path>
                  <circle class="cls-1" cx="12.95" cy="10.09" r="2.86"></circle>
                  <line class="cls-1" x1="12.95" y1="6.27" x2="12.95" y2="7.23"
                  ></line>
                  <line
                    class="cls-1"
                    x1="12.95"
                    y1="13.91"
                    x2="12.95"
                    y2="12.95"></line>
                  <line class="cls-1" x1="9.65" y1="8.18" x2="10.47" y2="8.66"
                  ></line>
                  <line class="cls-1" x1="16.26" y1="12" x2="15.43" y2="11.52"
                  ></line>
                  <line class="cls-1" x1="16.26" y1="8.18" x2="15.43" y2="8.66"
                  ></line>
                  <line class="cls-1" x1="9.65" y1="12" x2="10.47" y2="11.52"
                  ></line>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic1.item1")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              version="1.0"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="50px"
              height="50px"
              viewBox="0 0 64 64"
              enable-background="new 0 0 64 64"
              xml:space="preserve"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    fill="#231F20"
                    d="M62.242,53.757L51.578,43.093C54.373,38.736,56,33.56,56,28C56,12.536,43.464,0,28,0S0,12.536,0,28 s12.536,28,28,28c5.56,0,10.736-1.627,15.093-4.422l10.664,10.664c2.344,2.344,6.142,2.344,8.485,0S64.586,56.101,62.242,53.757z M28,54C13.641,54,2,42.359,2,28S13.641,2,28,2s26,11.641,26,26S42.359,54,28,54z M60.828,60.828c-1.562,1.562-4.095,1.562-5.656,0 L44.769,50.425c2.145-1.606,4.051-3.513,5.657-5.656l10.402,10.402C62.391,56.732,62.391,59.266,60.828,60.828z"
                  ></path>
                  <path
                    fill="#231F20"
                    d="M28,4C14.745,4,4,14.745,4,28s10.745,24,24,24s24-10.745,24-24S41.255,4,28,4z M28,50 C15.85,50,6,40.15,6,28S15.85,6,28,6s22,9.85,22,22S40.15,50,28,50z"
                  ></path>
                  <path
                    fill="#231F20"
                    d="M28,11c-0.553,0-1,0.447-1,1s0.447,1,1,1c8.284,0,15,6.716,15,15c0,0.553,0.447,1,1,1s1-0.447,1-1 C45,18.611,37.389,11,28,11z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic1.item2")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="-51.03 -51.03 494.59 494.59"
              xml:space="preserve"
              fill="#000000"
              stroke="#000000"
              stroke-width="0.00392533"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  style="fill:#FFFFFF;"
                  d="M359.854,21.786H32.743c-6.012,0-10.925,4.848-10.925,10.925v241.972 c0,6.012,4.848,10.925,10.925,10.925h327.111c6.012,0,10.925-4.848,10.925-10.925V32.711 C370.78,26.699,365.867,21.786,359.854,21.786z"
                ></path>
                <path
                  style="fill:#ffffff;"
                  d="M254.416,342.756l-8.792-35.362h-98.651l-8.792,35.362c-1.228,4.849-5.56,8.275-10.602,8.275h-24.824 v19.717h187.022V351.03h-24.824C259.976,351.03,255.644,347.669,254.416,342.756z"
                ></path>
                <path
                  style="fill:#ffffff;"
                  d="M65.454,87.919h34.974c6.012,0,10.925,4.848,10.925,10.925c0,6.077-4.848,10.925-10.925,10.925 H65.454v21.786h13.188c6.012,0,10.925,4.848,10.925,10.925c0,6.012-4.848,10.925-10.925,10.925H65.454v88.566h261.754V65.422H65.454 V87.919z"
                ></path>
                <g>
                  <path
                    style="fill:#000000;"
                    d="M359.854,0H32.743C14.707,0,0.032,14.675,0.032,32.711v241.972 c0,18.036,14.675,32.711,32.711,32.711h91.798l-5.495,21.786H91.83c-6.012,0-10.925,4.848-10.925,10.925v41.503 c0,6.012,4.848,10.925,10.925,10.925h208.873c6.012,0,10.925-4.848,10.925-10.925v-41.503c0-6.012-4.848-10.925-10.925-10.925 h-27.216l-5.495-21.786h91.798c18.036,0,32.711-14.675,32.711-32.711V32.711C392.566,14.675,377.891,0,359.854,0z M289.778,351.03 v19.717H102.82V351.03h24.824c5.042,0,9.374-3.426,10.602-8.275l8.792-35.362h98.586l8.792,35.362 c1.228,4.848,5.56,8.275,10.602,8.275H289.778z M359.854,285.608H32.743c-6.012,0-10.925-4.848-10.925-10.925V32.711 c0-6.012,4.848-10.925,10.925-10.925h327.111c6.012,0,10.925,4.848,10.925,10.925v242.036h0.065 C370.78,280.695,365.931,285.608,359.854,285.608z"
                  ></path>
                  <path
                    style="fill:#000000;"
                    d="M338.004,43.572H54.594c-6.012,0-10.925,4.848-10.925,10.925v198.335 c0,6.012,4.848,10.925,10.925,10.925h283.539c6.012,0,10.925-4.848,10.925-10.925V54.562 C348.994,48.549,344.016,43.572,338.004,43.572z M327.208,241.907h-0.065H65.454v-88.566h13.188 c6.012,0,10.925-4.848,10.925-10.925c0-6.012-4.848-10.925-10.925-10.925H65.454V109.64h34.974c6.012,0,10.925-4.848,10.925-10.925 c0-6.012-4.848-10.925-10.925-10.925H65.454V65.293h261.754V241.907L327.208,241.907z"
                  ></path>
                  <path
                    style="fill:#000000;"
                    d="M109.155,161.099l34.521,34.521c6.723,6.206,13.317,2.133,15.451,0 c4.267-4.267,4.267-11.119,0-15.451l-26.828-26.764l26.828-26.828c4.267-4.267,4.267-11.119,0-15.451 c-4.267-4.267-11.119-4.267-15.451,0l-34.521,34.521C104.889,149.915,104.889,156.768,109.155,161.099z"
                  ></path>
                  <path
                    style="fill:#000000;"
                    d="M233.535,195.62c4.978,5.042,12.283,3.556,15.451,0l34.521-34.521 c4.267-4.267,4.267-11.119,0-15.451l-34.521-34.521c-4.267-4.267-11.119-4.267-15.451,0c-4.267,4.267-4.267,11.119,0,15.451 l26.828,26.828l-26.828,26.828C229.269,184.436,229.269,191.289,233.535,195.62z"
                  ></path>
                  <path
                    style="fill:#000000;"
                    d="M174.254,219.152c6.853,2.069,12.283-2.263,13.834-6.788l37.883-110.222 c1.939-5.689-1.099-11.895-6.788-13.834c-5.689-1.939-11.895,1.099-13.834,6.788l-37.883,110.222 C165.527,210.941,168.501,217.341,174.254,219.152z"
                  ></path>
                </g>
              </g></svg>
            <span>{t("exhibitor-profile.topic1.item3")}</span>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4 lg:order-2">
        <ul class="space-y-4 text-left text-gray-900 text-xl">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="-20.48 -20.48 552.96 552.96"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M407.306,252.348h-4.55V32.202h4.55c8.892,0,16.101-7.209,16.101-16.101C423.407,7.209,416.198,0,407.306,0H104.694 c-8.892,0-16.101,7.209-16.101,16.101c0,8.892,7.209,16.101,16.101,16.101h4.55v220.146h-4.55 c-8.892,0-16.101,7.209-16.101,16.101v44.591c0,8.892,7.209,16.101,16.101,16.101h4.55v166.757 c0,8.892,7.209,16.101,16.101,16.101h261.31c8.892,0,16.101-7.209,16.101-16.101V329.142h4.55c8.892,0,16.101-7.209,16.101-16.101 v-44.591C423.407,259.557,416.198,252.348,407.306,252.348z M141.445,32.202h229.109v28.707H141.445V32.202z M141.445,93.111 h98.454v51.194l-18.305,14.293c-4.905,3.83-7.164,10.144-5.801,16.216l4.294,19.128c1.948,8.677,10.562,14.131,19.236,12.184 c8.676-1.947,14.131-10.56,12.183-19.236l-2.062-9.185l6.553-5.118l6.553,5.118l-2.062,9.185 c-1.947,8.676,3.507,17.288,12.183,19.236c1.187,0.266,2.373,0.394,3.541,0.394c7.367,0,14.014-5.089,15.695-12.578l4.294-19.128 c1.363-6.072-0.895-12.386-5.801-16.216l-18.305-14.293V93.111h98.454v159.237h-16.724v-14.083 c0-8.892-7.209-16.101-16.101-16.101s-16.101,7.209-16.101,16.101v14.083h-10.11v-14.083c0-8.892-7.209-16.101-16.101-16.101 c-8.892,0-16.101,7.209-16.101,16.101v14.083H141.445V93.111z M141.445,479.798V329.142h229.108v150.656H141.445z M391.205,296.94 h-270.41V284.55h270.41V296.94z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g> <circle cx="325.101" cy="363.733" r="15.303"></circle></g>
                </g>
                <g>
                  <g>
                    <path
                      d="M284.546,347.633H171.594c-8.892,0-16.101,7.209-16.101,16.101c0,8.892,7.209,16.101,16.101,16.101h112.952 c8.892,0,16.101-7.209,16.101-16.101C300.647,354.842,293.438,347.633,284.546,347.633z"
                    ></path>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic1.item4")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="-7.77 0 61.035 61.035"
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g
                  id="Group_29"
                  data-name="Group 29"
                  transform="translate(-788.374 -1136.157)"
                >
                  <path
                    id="Path_73"
                    data-name="Path 73"
                    d="M827.765,1167.51a16.353,16.353,0,1,0-21.69,15.443v12.239H816.75v-12.239A16.346,16.346,0,0,0,827.765,1167.51Z"
                    fill="#ffffff"
                    stroke="#231f20"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.2582949999999995"></path>
                  <rect
                    id="Rectangle_13"
                    data-name="Rectangle 13"
                    width="14.217"
                    height="5.549"
                    transform="translate(804.387 1187.563)"
                    fill="#ffffff"
                    stroke="#231f20"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.2582949999999995"></rect>
                  <line
                    id="Line_34"
                    data-name="Line 34"
                    y2="3.813"
                    transform="translate(811.413 1138.157)"
                    fill="#ffffff"
                    stroke="#231f20"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.2582949999999995"></line>
                  <line
                    id="Line_35"
                    data-name="Line 35"
                    x1="2.419"
                    y2="2.948"
                    transform="translate(828.636 1145.697)"
                    fill="#ffffff"
                    stroke="#231f20"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.2582949999999995"></line>
                  <line
                    id="Line_36"
                    data-name="Line 36"
                    x2="2.419"
                    y2="2.948"
                    transform="translate(791.188 1145.697)"
                    fill="#ffffff"
                    stroke="#231f20"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.2582949999999995"></line>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic1.item5")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              version="1.1"
              id="Scientist"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="64px"
              height="64px"
              viewBox="0 0 300 300"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M190.2,139l-17.8,37c-1.1,2.3,0.6,5,3.2,5h55.8c2.6,0,4.3-2.7,3.1-5.1L216,139h4.2c5.5,0,14.1-4.3,13.8-14 c-0.3-7.3-6.4-13-13.6-13H214v-6h4v-7h-30v7h4v6h-10V87c0-16-13-29-29-29h-14.2L127,76.6V58h-10v18.6L105.2,58H91c-16,0-29,13-29,29 v71.1c0,7.1,5.4,13.3,12.5,13.8c4.1,0.3,7.9-1.2,10.5-3.9V201h8v81.1c0,6.9,5.4,12.8,12.3,12.9c7,0.1,12.7-5.5,12.7-12.5V201h8v81.1 c0,6.9,5.4,12.8,12.3,12.9c7,0.1,12.7-5.5,12.7-12.5V201h8v-67c2.9,3.2,7,5,11.6,5H190.2z M214,120h6.4c3.1,0,5.6,2.5,5.6,5.6 c0,3.3-2.4,5.4-5.5,5.4H214V120z M199,137v-31h8v31l17,34h-7l-8-16h-18.7L199,137z M163,123.5V97h-12l0,96H93v-96L81,97v61.5 c0,3-2.5,5.5-5.5,5.5s-5.5-2.5-5.5-5.5V87c0-11.6,9.4-21,21-21h9.8L122,99.5L143.2,66h9.8c11.6,0,21,9.4,21,21v33h18v11h-21.4 C166.4,131,163,127.7,163,123.5z M197.8,80.4c0-3.9,3.2-7.1,7.1-7.1s7.1,3.2,7.1,7.1s-3.2,7.1-7.1,7.1S197.8,84.3,197.8,80.4z M215.2,63.8c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5s-2,4.5-4.5,4.5S215.2,66.3,215.2,63.8z M99.1,29.3c0-12.6,10.2-22.9,22.9-22.9 c12.6,0,22.9,10.2,22.9,22.9S134.6,52.2,122,52.2S99.1,41.9,99.1,29.3z"
                ></path>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic1.item6")}</span>
          </li>
        </ul>
      </div>
    </div>
    <center>
      <p class="text-xl uppercase font-bold text-violet-700">
        {t("exhibitor-profile.topic2.title")}
      </p>
    </center>
    <div class="flex flex-wrap items-center justify-center lg:px-24 p-10">
      <div class="w-full sm:w-1/2 p-4 lg:order-1">
        <ul
          class="space-y-4 text-left text-gray-900 text-xl list-inside"
        >
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g> <circle cx="195.406" cy="102.437" r="49.528"></circle></g>
                </g>
                <g>
                  <g>
                    <path
                      d="M399.667,423.132l-1.135-15.985c-0.446-6.291-3.513-12.107-8.452-16.03l-23.215-18.434 c-6.022-4.782-16.016-5.74-23.658,3.884c-9.882-7.846-15.674-12.448-25.306-20.094c1.781-9.775-2.3-20.108-11.158-25.849 l-93.464-60.585l-51.282-72.274l37.774,32.523l5.576-13.796c6.841-16.926-1.335-36.193-18.26-43.034l-55.997-22.632 c-16.967-6.857-36.294,1.388-43.083,18.385l-61.47,153.875c-7.779,19.474-0.061,41.705,18.111,52.169l39.891,22.969 c-40.781,0-31.839,0-54.106,0C13.625,398.223,0,411.849,0,428.656c0,16.808,13.625,30.433,30.433,30.433 c10.259,0,172.384,0,182.593,0c31.955,0,42.217-43.296,13.651-57.633L87.971,331.844l65.139,13.899l8.557-21.171l-41.054-97.444 l54.096,76.239c1.859,2.619,4.197,4.862,6.892,6.608l97.542,63.229c8.69,5.633,19.615,5.316,27.874-0.186 c8.181,6.497,14.484,11.502,23.924,18.997l-1.021,1.287c-5.534,6.968-4.37,17.102,2.598,22.636l23.214,18.435 c4.94,3.923,11.299,5.591,17.529,4.6l15.827-2.517C395.535,435.431,400.13,429.645,399.667,423.132z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M507.987,343.79c-14.331,0.97-30.383,6.567-42.698,16.271c2.361-20.083,7.882-32.215,11.777-38.555 c2.248-3.659,1.853-8.348-0.981-11.574l-0.098-0.111c-4.339-4.939-12.24-4.268-15.683,1.335c-2.525,4.107-5.31,9.598-7.836,16.666 c-7.188-10.29-18.268-19.684-29.402-25.199c-3.757-1.862-8.195,3.219-3.204,6.945c2.011,1.518,4.543,3.708,7.021,6.215 c24.506,24.528,17.555,43.632,17.56,64.966c-9.542-7.721-23.567-14.415-37.92-16.493c-4.139-0.602-6.736,5.42-0.889,7.596 c36.854,13.713,41.515,45.925,41.603,46.552c-13.176,5.712-23.333,20.696-26.192,33.711c-0.786,3.582,1.944,6.975,5.615,6.975 h63.214c3.679,0,6.397-3.415,5.615-6.975c-3.02-13.752-14.189-29.707-28.461-34.591c-1.384-9.471-2.216-18.149-2.608-26.083 c1.771-4.367,4.974-19.778,25.802-32.287c5.887-3.491,12.428-6.298,18.96-7.944C513.602,350.084,512.535,343.48,507.987,343.79z"
                    ></path>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic2.item1")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  fill="#000000"
                  d="M161.9 17.31c-32.7 0-63.75 8.22-88.96 24.19-28.82 18.25-49.85 47.08-55.85 84.2-5.99 37 2.83 81.8 31.25 133 19.84 35.6 44.25 63.8 59.66 93.5 12.4 25.7 18.4 46.7 15.6 75.2-14.7 2.9-25.73 15.7-25.73 31.2 0 17.5 14.23 31.8 31.73 31.8 17.6 0 31.8-14.3 31.8-31.8 0-13.2-8-24.4-19.4-29.3 1-10.2 1-19.8.1-29.1 9.2-10.8 19.9-16.3 33.2-18.1 14.7-2.1 32.7.7 53.3 8.1 5.1 9.7 9.7 20 13.7 31.1-9.2 5.4-15.3 15.4-15.3 26.8 0 17.1 13.9 31 31 31 17.2 0 31.1-13.9 31.1-31 0-16.3-12.5-29.7-28.5-31-4-11.6-8.7-22.4-13.9-32.6 10.2-9.9 27.5-16.7 47.6-20.6 22-4.3 46.7-5.4 67.4-6 7 6.4 13.9 13.2 20.6 20.3-.5 2.2-.8 4.6-.8 7 0 16.4 13.3 29.6 29.6 29.6 16.4 0 29.6-13.2 29.6-29.6 0-16.3-13.2-29.6-29.6-29.6-6.9 0-13.3 2.4-18.3 6.4-6.5-6.7-13.1-13-19.8-19.1-1-49.1 13.3-87.6 37.8-119.2 8.9-2.2 18-5.4 27.4-9.7 5.8 5.7 13.7 9.2 22.4 9.2 17.5 0 31.7-14.2 31.7-31.8 0-17.5-14.2-31.7-31.7-31.7s-31.8 14.2-31.8 31.7c0 2.1.2 4.2.6 6.2-7.8 3.5-15.2 6.1-22.4 8-15.5-19.9-16.9-35.5-12.6-52.8 4.6-18.4 17.3-38.6 29.9-61.9 6.3-4.02 12-8.88 16.7-14.62 5.5 4.16 12.3 6.62 19.7 6.62 17.9 0 32.5-14.53 32.5-32.47 0-17.93-14.6-32.46-32.5-32.46s-32.5 14.53-32.5 32.46c0 3.4.6 6.68 1.5 9.75-11.2 16.83-32.7 26.23-58.8 26.69-26.6.47-57.1-8.56-82.7-27.25-40-23.91-86.1-41.78-126.3-42.31zm46.8 25c18.6 4.78 37.1 12.46 54.7 23.22l.1 14.75c-17.7-13.23-37.1-27.25-54.3-36.15zm-61.8 3.22l4.6 15.78c-11.2-5.2-22.9-9.35-35.3-12.09 10.7-2.2 20.7-4.03 30.7-3.69zm20.2 2.72c9.1 2.07 18.4 5.46 26.2 9.03l9.8 36.94c-9.2-7.27-18.6-14.13-28.5-20.28zm-62.8 17.78c18.5 3.03 35.5 9.68 51.6 18.72l-10.8 18.65c-14-13.33-28.2-26.75-40.8-37.37zm111.5 3.34c10.8 6.65 21.4 14.27 31.9 22.28 5.3 4.12 10.6 8.34 15.9 12.55l.3 44.1c-11.7-10.6-23.6-21.9-35.9-32.9zm66.4 8.85c12.6 8.53 26.2 15.08 39.9 19.62l.7 28.26c-13-8.7-26.5-19.6-40.5-30.88zm-192.29.18c15.59 13.03 30.59 27.3 45.39 42.1l-13.9 23.9c-13.6-22.6-24.73-45.32-31.49-66zm81.89 16.22c13.7 9.28 26.8 19.98 39.7 31.38-2 6.1-12.2 21.9-16.1 28.1-12.2-12.2-24.3-24.7-36.6-37zm224.7 7.88c-8.2 14.6-15.8 28.9-19.9 44.2-11.2.2-22.8-3.2-34.9-9.3l-.8-34.6c19.1 3.5 38 3.8 55.6-.3zm-342.91 8c.3 21.8 3.72 41.3 9.41 58.9L46.75 166c.35-20.5 2.82-39.5 6.84-55.5zm32.38 8.7c6.46 13.6 13.77 26.2 21.73 37.7l-13.55 5.8c-4.74-15.3-7.78-30.3-8.18-43.5zm196.43.1c14.3 10.9 26.8 21 40.9 29.2l1 45.7c-14.1-7.6-27.9-17.8-41.6-29.4zm-133.5 15c11.9 12.1 23.8 24.5 36 36.6l-16.4 26.4c-12.6-11.1-24.3-23.1-35-36.5zm77.7 5.2c13 11.7 25 23.1 36.4 33.1l-17.1 28.6c-12.7-10.6-24.9-21.9-36.8-33.6zm115.6 18.7c10.3 4.3 20.9 6.9 31.7 7.2-.2 14.1 3.6 28.7 12.9 43.6-15.9.6-30-1.3-43.6-6.2zm-223 14.1c9.9 12.5 20.6 23.8 32 34.3l-22.7 8c-10.7-11.8-19.8-22.8-26.5-35zm79.4 12c12 11.6 24.3 22.9 37.3 33.5l-12.4 20.7c-14-9.4-28.9-20-40.5-29.2zm78.9.5c14 11.3 28.5 21.4 44 29l-16.3 28.5c-15.8-8.6-30.6-18.5-44.6-29.3 5.6-9.4 11.3-18.8 16.9-28.2zm-228.53.8l22.09 4.6c5.33 11.7 11.66 22.6 18.72 32.9l-27.53-1.9c-6.04-10.7-10.69-22.4-13.28-35.6zm118.53 35.1c11.4 9.4 23.3 18.1 35.5 26.4l-24.3 8.2c-12.1-8.3-24.5-17.5-34.8-26.3zm171.3.4c15 5.1 32.5 7.2 46.6 6.6-7.6 12.1-14.1 25.1-19 39.1-15.8-4.2-30.6-9.6-44.5-16 5.6-9.9 11.3-19.8 16.9-29.7zm-88.1 8.4c14.2 10.7 29.1 20.6 45.1 29.3L285 277.7c-15.5-9.9-30.9-19.4-45.8-29 3.8-6.4 7.7-12.8 11.5-19.2zm-127 6.6c10.8 10.6 23 18.1 33 26.6l-6.7 2.2c-9.3-9.5-19.5-20.4-26.3-28.8zm-48.2 4.7c9.67.6 19.32 1.5 29 2 7.6 8.9 15.6 17.9 22.5 25.2-7.3.7-17.4.9-25.6 1.2-9.27-9.7-18.85-19.4-25.9-28.4zm147.1 19.5c15.1 9.7 30.4 19.2 45.7 29l-24 10.8c-15.1-11.3-32.2-22.7-46-31.7zm89.9 6.9c15.1 7 31.2 12.9 48.4 17.5-3.3 13.4-5.4 27.5-6.1 42.5-17.7-14.5-35.9-27.3-54.1-39.3 3.9-6.9 7.9-13.8 11.8-20.7zm-136.6 8.7c17.1 11.6 34 22.3 48.8 33l-22.9 10.3c-12.1-14-24.8-26.9-37.2-39.5zm-31.2 10.4c11.6 11.7 23.2 23.3 34.4 35.6h-24.8c-10.7-12.6-22.4-23.8-33.9-34.7 8.1-.1 16.2-.9 24.3-.9zm-50.86 1.9c11.76 11.3 23.66 22.2 34.76 33.7H112c-7.2-11.3-14.92-22.4-22.66-33.6 1.5 0 3.01-.1 4.5-.1zm193.26 13.2c18.2 12 36.2 24.6 53.7 38.6-19.8 1.3-37.6 3.1-54.7 6.5-6.1-12.3-15.1-23.1-25.9-33 8.9-4.1 17.9-8.1 26.9-12.1zm-45.7 20.5c11.3 9.5 20.3 19.3 26.2 29.7-11.3 3.8-21.7 9-30.1 16.2-7.2-12.1-15.1-23.2-23.3-33.7zM123 340.6h22.2c6.3 7.9 12.1 16.2 17 25.2-8.7 2.6-16.8 6.7-24.1 12.5-4.1-14-9-26.4-15.1-37.7zm45.7 0h26.6c6.8 8.3 13.3 16.9 19.4 26-11.6-2.8-22.6-4.2-33.1-3.8-4.1-7.9-8.6-15.9-12.9-22.2z"
                ></path></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic2.item2")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <g>
                      <path
                        d="M509.739,409.429c-2.027-2.581-5.12-4.096-8.405-4.096h-78.123l-17.067-42.667h31.189 c5.888,0,10.667-4.779,10.667-10.667V245.333c0-5.888-4.779-10.667-10.667-10.667h-10.667V97.728l20.779-62.357 c0.171-0.469,0.128-0.96,0.213-1.429c0.107-0.555,0.213-1.067,0.235-1.643c0.021-0.96-0.128-1.856-0.341-2.773 c-0.064-0.299,0-0.597-0.107-0.896c-0.021-0.085-0.107-0.149-0.149-0.256c-0.363-1.024-0.939-1.963-1.621-2.837 c-0.149-0.213-0.256-0.469-0.427-0.661c-0.661-0.747-1.515-1.323-2.411-1.877c-0.277-0.171-0.469-0.427-0.768-0.555 L399.445,1.131C397.952,0.384,396.331,0,394.667,0H96c-5.888,0-10.667,4.779-10.667,10.667v42.667C85.333,59.221,90.112,64,96,64 h12.629c3.221,9.045,10.325,16.149,19.371,19.371v52.075L90.304,192H74.667C68.779,192,64,196.779,64,202.667v64 c0,5.888,4.779,10.667,10.667,10.667h128c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667h-15.659 l-37.675-56.533V83.371c9.045-3.221,16.149-10.325,19.371-19.371h193.963v170.667H352c-5.888,0-10.667,4.779-10.667,10.667 v53.333h-96c-5.888,0-10.667,4.779-10.667,10.667v96H192v-32c0-5.888-4.779-10.667-10.667-10.667H128V352 c0-5.888-4.779-10.667-10.667-10.667h-64c-5.888,0-10.667,4.779-10.667,10.667v53.333H32c-4.907,0-9.152,3.328-10.347,8.085 L0.32,498.752c-0.789,3.2-0.085,6.571,1.941,9.152c2.027,2.581,5.12,4.096,8.405,4.096h381.376 c56.704,0,105.877-38.421,119.637-93.419C512.469,415.381,511.765,412.011,509.739,409.429z M192,213.333V256H85.333v-42.667H192 z M161.387,192h-45.461l22.741-34.091L161.387,192z M106.667,42.667V21.333h285.483l17.387,8.704l-37.909,12.629H106.667z M420.48,48.853l-14.592,43.776c-0.363,1.088-0.555,2.219-0.555,3.371v138.667H384V61.013L420.48,48.853z M362.667,256h64v85.333 h-29.056l-14.379-35.968c-1.621-4.032-5.525-6.699-9.899-6.699h-10.667V256z M256,320h110.123l14.379,35.968c0,0,0,0,0,0.021 l19.755,49.344H256V320z M128,384h42.667v21.333H128V384z M64,362.667h42.667v42.667H64V362.667z M392.064,490.667H24.341l16-64 H486.72C471.403,464.939,434.24,490.667,392.064,490.667z"
                      ></path>
                      <path
                        d="M202.667,480c11.776,0,21.333-9.557,21.333-21.333s-9.557-21.333-21.333-21.333s-21.333,9.557-21.333,21.333 S190.891,480,202.667,480z"
                      ></path>
                      <path
                        d="M330.667,480c11.776,0,21.333-9.557,21.333-21.333s-9.557-21.333-21.333-21.333s-21.333,9.557-21.333,21.333 S318.891,480,330.667,480z"
                      ></path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic2.item3")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><defs
                  ><style>
                    .cls-1 {
                      fill: none;
                      stroke: #020202;
                      stroke-miterlimit: 10;
                      stroke-width: 1.91px;
                    }
                  </style></defs
                ><path
                  class="cls-1"
                  d="M14.08,14.7a2.08,2.08,0,0,1-4.16,0c0-1.78,2.08-3.86,2.08-3.86S14.08,12.92,14.08,14.7Z"
                ></path><path
                  class="cls-1"
                  d="M14.86,4.36V1.5H9.14V4.36h0a4.2,4.2,0,0,0-2.87,4V22.5H17.73V8.34a4.2,4.2,0,0,0-2.87-4Z"
                ></path><line
                  class="cls-1"
                  x1="7.23"
                  y1="1.5"
                  x2="16.77"
                  y2="1.5"></line></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic2.item4")}</span>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4 lg:order-2">
        <ul class="space-y-4 text-left text-gray-900 text-xl">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512.349 512.349"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g transform="translate(1 1)">
                  <g>
                    <g>
                      <path
                        d="M506.228,313.376c-15.36-20.48-30.72-20.48-68.267-0.853l-73.387,45.227c-10.24,5.973-33.28,7.68-54.613,7.68 c4.267-7.68,2.56-17.067-5.12-28.16c-13.653-19.627-36.693-31.573-61.44-31.573h-33.28c-17.92,0-34.987-5.12-48.64-15.36 c-30.791-23.093-78.94,2.035-102.4,17.023v-17.876H-0.652v221.867h59.733v-25.6h110.933c17.067,0,34.987-1.707,52.053-2.56 l110.933-17.067c4.267,0,8.533-0.853,11.947-1.707c10.24-1.707,19.627-6.827,28.16-14.507l128.853-102.4 C512.202,338.976,513.908,323.616,506.228,313.376z M42.015,494.283h-25.6V306.549h25.6v12.8v166.4V494.283z M491.722,335.563 L362.015,436.256l-0.853,0.853c-5.12,5.973-11.947,9.387-18.773,10.24h-0.853c-3.413,0.853-5.973,0.853-9.387,0.853 l-112.64,17.067c-16.213,2.56-33.28,3.413-49.493,3.413H59.082v-140.8c20.48-14.507,68.267-41.813,92.16-23.04 c16.213,11.947,37.547,18.773,58.88,18.773h33.28c19.627,0,37.547,8.533,48.64,24.747c3.413,5.12,4.267,10.24,3.413,11.947 c-2.56,4.267-12.8,5.973-23.893,6.827c-3.413,0-6.827,0-9.387,0h-67.413c-26.453,0-42.667,12.8-42.667,34.133 c0,5.12,3.413,8.533,8.533,8.533c5.12,0,8.533-3.413,8.533-8.533c0-4.267,0-17.067,25.6-17.067h66.56v0c2.56,0,5.973,0,11.093,0 c0.853,0,2.56,0,4.267,0c40.107,0.853,77.653,0,97.28-10.24l73.387-45.227c35.84-17.92,39.253-13.653,46.08-3.413 C495.135,327.883,495.135,333.003,491.722,335.563z"
                      ></path>
                      <path
                        d="M152.948,152.95c56.32,0,102.4-46.08,102.4-102.4c0-5.12-3.413-8.533-8.533-8.533c-56.32,0-102.4,46.08-102.4,102.4 C144.415,149.536,147.828,152.95,152.948,152.95z M237.428,59.936c-3.413,39.253-35.84,71.68-75.947,75.947 C165.748,95.776,197.322,64.203,237.428,59.936z"
                      ></path>
                      <path
                        d="M192.202,185.376c-4.267,1.707-6.827,6.827-5.12,11.093c10.24,25.6,29.013,46.08,53.76,57.173 c13.653,5.973,28.16,9.387,42.667,9.387c11.947,0,23.893-2.56,34.987-6.827c4.267-1.707,6.827-6.827,5.12-11.093 C303.988,192.203,245.108,165.749,192.202,185.376z M248.522,237.429c-17.92-7.68-32.427-22.187-40.96-39.253 c18.773-5.12,38.4-3.413,56.32,5.12c17.92,7.68,32.427,22.187,40.96,39.253C286.068,247.669,266.442,245.963,248.522,237.429z"
                      ></path>
                      <path
                        d="M307.402,142.709c0.853,0,2.56,0,3.413-0.853c23.893-12.8,41.813-33.28,50.347-59.733 c8.533-26.453,5.973-54.613-6.827-78.507c-1.707-4.267-6.827-5.973-11.093-3.413c-23.893,12.8-41.813,33.28-50.347,59.733 c-8.533,26.453-5.973,54.613,6.827,78.507C301.428,141.003,303.988,142.709,307.402,142.709z M309.108,65.056 c5.973-18.773,17.92-34.133,34.133-45.227c6.827,17.92,7.68,38.4,1.707,57.173c-5.973,18.773-17.92,34.133-34.133,45.227 C303.988,103.456,303.135,83.829,309.108,65.056z"
                      ></path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic2.item5")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24 31C26.1533 31 28 29.1844 28 26.8182C28 24.7373 26.7943 22.2053 25.3295 19.9805C24.8713 19.2844 24.4115 18.6537 24 18.1198C23.5885 18.6537 23.1287 19.2844 22.6705 19.9805C21.2057 22.2053 20 24.7373 20 26.8182C20 29.1844 21.8467 31 24 31ZM22.6966 16.5398C20.9318 18.7675 18 23.0371 18 26.8182C18 30.2323 20.6863 33 24 33C27.3137 33 30 30.2323 30 26.8182C30 23.0371 27.0682 18.7675 25.3034 16.5398C24.5435 15.5806 24 15 24 15C24 15 23.4565 15.5806 22.6966 16.5398Z"
                  fill="#333333"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M33.8994 14.1008C28.4321 8.63347 19.5678 8.63347 14.1005 14.1008L12.6862 12.6866C18.9346 6.43821 29.0653 6.43821 35.3137 12.6866C38.4248 15.7977 39.9871 19.8734 39.9999 23.9497L39.9999 23.9529L39.9999 27.5858L43.2928 24.2929L44.7071 25.7071L39.7071 30.7071L39 31.4142L38.2928 30.7071L33.2928 25.7071L34.7071 24.2929L37.9999 27.5857L37.9999 23.956L37.9999 23.9544C37.9883 20.3853 36.6217 16.823 33.8994 14.1008ZM14.1005 33.8998C19.5678 39.3671 28.4321 39.3671 33.8994 33.8998L35.3137 35.314C29.0653 41.5624 18.9346 41.5624 12.6862 35.314C9.56307 32.1908 8.00078 28.0957 7.99996 24.0035L7.99995 24.0033V20.4142L4.70706 23.7071L3.29285 22.2929L8.29285 17.2929L8.99995 16.5858L9.70706 17.2929L14.7071 22.2929L13.2928 23.7071L9.99996 20.4142L9.99995 24.0031L9.99996 24.0033C10.0007 27.5868 11.3674 31.1667 14.1005 33.8998Z"
                  fill="#333333"></path>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic2.item6")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="m53.76 31.24a7.19 7.19 0 0 0 -.85-.7 4.13 4.13 0 0 0 -5.15 6.46l.82.82s0 0-.06 0l-13.52 13.48c-.3.28-.59.57-.8.79a6.85 6.85 0 0 0 -.86 8.15.25.25 0 0 1 0 .07 16 16 0 0 0 6.42 6.36 6.23 6.23 0 0 0 2.57.87 7.1 7.1 0 0 0 5.89-2.18l13.78-13.85a.46.46 0 0 0 .11-.16l.91.91a4.15 4.15 0 1 0 5.73-6z"
                  ></path>
                  <path
                    d="m78.09 28.45c-2.19-2.25-4.42-4.45-6.66-6.66a4.72 4.72 0 0 0 -4-1.38 4.77 4.77 0 0 0 -2.58 8.25c.69.68.31.36 1 1.07l-3.11 3a.83.83 0 0 0 0 1.19c.36.35 2.75 2.74 3.11 3.08a.85.85 0 0 0 1.19 0l3-3.07c.77.78.49.46 1.18 1.14a4.76 4.76 0 1 0 6.81-6.65z"
                  ></path>
                  <path
                    d="m31 66.23c-3.61 3.62-6.56 6.66-10.17 10.28a1.74 1.74 0 1 0 2.5 2.43c3.58-3.57 6.5-6.57 10.08-10.14.07-.07.13-.16.18-.21l-2.47-2.46z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic2.item7")}</span>
          </li>
        </ul>
      </div>
    </div>
    <center>
      <p class="text-xl uppercase font-bold text-violet-700">
        {t("exhibitor-profile.topic3.title")}
      </p>
    </center>
    <div class="flex flex-wrap items-center justify-center lg:px-24 p-10">
      <div class="w-full sm:w-1/2 p-4 lg:order-1">
        <ul
          class="space-y-4 text-left text-gray-900 text-xl list-inside"
        >
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 100.00 100.00"
              data-name="Layer 1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#000000"
              stroke-width="1"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M60.61,84.17a1.5,1.5,0,0,1-.45-2.93l8.53-2.67a1.5,1.5,0,0,1,.9,2.86L61.06,84.1A1.41,1.41,0,0,1,60.61,84.17Z"
                ></path><path
                  d="M41,90.25a1.46,1.46,0,0,1-1.5-1.46V40a1.49,1.49,0,0,1,1.05-1.43L78.43,26.76a1.52,1.52,0,0,1,1.34.22,1.51,1.51,0,0,1,.61,1.21V51a1.5,1.5,0,0,1-3,0V30.23L42.54,41.13V88.71A1.53,1.53,0,0,1,41,90.25Z"
                ></path><path
                  d="M41,90.29a1.5,1.5,0,0,1-.45-2.93l19.57-6.12a1.5,1.5,0,1,1,.89,2.86L41.49,90.22A1.41,1.41,0,0,1,41,90.29Z"
                ></path><path
                  d="M47,81.29a1.5,1.5,0,0,1-.45-2.93l16.46-5.15a1.5,1.5,0,0,1,1.88,1,1.48,1.48,0,0,1-1,1.87L47.49,81.22A1.41,1.41,0,0,1,47,81.29Z"
                ></path><path
                  d="M47,74.29a1.5,1.5,0,0,1-.45-2.93l10.53-3.29A1.5,1.5,0,1,1,58,70.93L47.49,74.22A1.41,1.41,0,0,1,47,74.29Z"
                ></path><path
                  d="M41,90.21a1.35,1.35,0,0,1-.44-.07L2.7,78.3a1.49,1.49,0,0,1-1.06-1.43V28.11a1.5,1.5,0,0,1,1.5-1.5,1.43,1.43,0,0,1,.46.07l10.27,3.2a1.52,1.52,0,0,1,1.05,1.44V51.94a1.52,1.52,0,0,1,.14,1.3,1.5,1.5,0,0,1-1.91.92l-.23-.08a1.51,1.51,0,0,1-1-1.42V32.42L4.64,30.14V75.77l34.9,10.9V41.05L31.36,38.5V58a1.5,1.5,0,0,1-3,0V36.46A1.52,1.52,0,0,1,30.31,35l11.18,3.5a1.48,1.48,0,0,1,1,1.43V88.71a1.48,1.48,0,0,1-.61,1.21A1.5,1.5,0,0,1,41,90.21Z"
                ></path><path
                  d="M29.86,59.53a1.5,1.5,0,0,1-1.5-1.5V36.66a1.59,1.59,0,0,1,.06-.68,1.48,1.48,0,0,1,1.88-1,1.55,1.55,0,0,1,1.06,1.44V58A1.5,1.5,0,0,1,29.86,59.53Z"
                ></path><path
                  d="M13.65,54.24a1.74,1.74,0,0,1-.5-.08l-.23-.08a1.51,1.51,0,0,1-1-1.42V31.32a1.5,1.5,0,0,1,3,0V51.94a1.52,1.52,0,0,1,.14,1.3A1.49,1.49,0,0,1,13.65,54.24Z"
                ></path><path
                  d="M41,41.49A1.47,1.47,0,0,1,39.53,40V40a1.5,1.5,0,0,1,3,0A1.52,1.52,0,0,1,41,41.49Z"
                ></path><path
                  d="M3.16,29.6a1.5,1.5,0,0,1-.58-2.88l38-15.82a1.5,1.5,0,1,1,1.15,2.77l-38,15.82A1.44,1.44,0,0,1,3.16,29.6Z"
                ></path><path
                  d="M14.62,32.85A1.5,1.5,0,0,1,14,30l17.17-7.14a1.5,1.5,0,0,1,1.15,2.77L15.19,32.73A1.46,1.46,0,0,1,14.62,32.85Z"
                ></path><path
                  d="M29.83,37.94A1.48,1.48,0,0,1,28.45,37a1.5,1.5,0,0,1,.8-2l15.12-6.29a1.5,1.5,0,0,1,1.16,2.77L30.41,37.83A1.49,1.49,0,0,1,29.83,37.94Z"
                ></path><path
                  d="M52.75,18.66a1.51,1.51,0,0,1-.58-.12L40.62,13.66a1.48,1.48,0,0,1-.8-2,1.5,1.5,0,0,1,2-.8l11.56,4.88a1.5,1.5,0,0,1,.8,2A1.52,1.52,0,0,1,52.75,18.66Z"
                ></path><path
                  d="M78.89,29.69a1.51,1.51,0,0,1-.58-.12l-26.14-11a1.5,1.5,0,1,1,1.17-2.76l26.14,11a1.5,1.5,0,0,1-.59,2.88Z"
                ></path><path
                  d="M29.87,59.53a1.51,1.51,0,0,1-1.27-.7l-8-12.55a1.5,1.5,0,1,1,2.52-1.61l8,12.55a1.51,1.51,0,0,1-1.26,2.31Z"
                ></path><path
                  d="M13.65,54.24a1.46,1.46,0,0,1-1.12-.51,1.48,1.48,0,0,1,.13-2.11l8.21-7.27a1.5,1.5,0,0,1,2,2.25l-8.21,7.26A1.45,1.45,0,0,1,13.65,54.24Z"
                ></path><path
                  d="M45,31.65a1.5,1.5,0,0,1-.62-.13L31.2,25.59a1.5,1.5,0,1,1,1.24-2.73l13.13,5.92A1.5,1.5,0,0,1,45,31.65Z"
                ></path><path
                  d="M89.71,93.21H76.86A9.23,9.23,0,0,1,67.64,84V71.14a9.23,9.23,0,0,1,9.22-9.21H89.71a9.23,9.23,0,0,1,9.22,9.21V84A9.23,9.23,0,0,1,89.71,93.21ZM76.86,64.93a6.22,6.22,0,0,0-6.22,6.21V84a6.22,6.22,0,0,0,6.22,6.21H89.71A6.22,6.22,0,0,0,95.93,84V71.14a6.22,6.22,0,0,0-6.22-6.21Z"
                ></path><path
                  d="M70.27,68.62a1.5,1.5,0,0,1-1.5-1.5v-6A11.72,11.72,0,0,1,78.64,49.5a11.19,11.19,0,0,1,1.91-.16h4.83A11.8,11.8,0,0,1,97.17,61.13v5.11a1.5,1.5,0,0,1-3,0V61.13a8.8,8.8,0,0,0-8.79-8.79H80.55a8.51,8.51,0,0,0-1.42.12,8.74,8.74,0,0,0-7.36,8.67v6A1.5,1.5,0,0,1,70.27,68.62Z"
                ></path><path
                  d="M83.27,82.85a1.5,1.5,0,0,1-1.5-1.5V73.68a1.5,1.5,0,0,1,3,0v7.67A1.5,1.5,0,0,1,83.27,82.85Z"
                ></path></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic3.item1")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="64px"
              height="64px"
              viewBox="0 0 612 612"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M547.624,94.812C497.053,35.875,423.508,2.076,345.836,2.076c-77.757,0-151.31,33.808-201.754,92.703 c-41.581,48.204-64.485,109.831-64.485,173.538c0,11.554,0.776,23.034,2.257,34.383h35.293c-1.068-7.089-1.921-14.221-2.327-21.424 h81.782c0.193,7.267,0.718,14.343,1.23,21.424h26.104c-0.571-7.078-1.105-14.178-1.323-21.424h110.198v61.121 c5.837,2.571,11.232,6.17,15.901,10.782l10.081,9.976v-81.88h110.206c-1.096,36.487-6.783,71.046-15.925,101.606 c-27.467-7.021-56.593-11.062-86.832-12.356l29.059,28.752c16.918,1.897,33.478,4.661,49.234,8.533 c-3.892,9.934-8.234,19.179-12.864,27.859c7.345,8.957,11.586,20.249,11.974,31.864c10.185-15.285,19.166-32.924,26.628-52.583 c14.32,4.696,27.569,10.225,39.692,16.512c-19.341,19.479-41.785,35.19-66.233,46.615v37.769 c39.653-15.683,75.398-40.858,103.867-73.982C589.129,393.718,612,332.091,612,268.316C612,204.549,589.129,142.923,547.624,94.812 z M196.602,255.291h-81.778c2.681-47.401,19.889-92.786,49.354-130.088c14.821,8.143,31.231,15.127,48.95,20.985 C203.499,178.896,197.653,215.803,196.602,255.291z M221.332,121.645c-14.269-4.709-27.492-10.239-39.611-16.513 c22.29-22.508,48.73-40.014,77.655-51.659C244.383,71.841,231.474,94.917,221.332,121.645z M332.811,255.291H222.613 c1.096-36.476,6.78-71.025,15.917-101.578c29.803,7.567,61.407,11.825,94.28,12.715V255.291L332.811,255.291z M332.811,139.949 c-29.606-0.845-58.756-4.566-85.744-11.161C264.58,84.069,290.079,51.1,319.088,38.3c4.551-0.527,9.122-0.947,13.722-1.205 L332.811,139.949L332.811,139.949z M576.772,255.291H495.01c-1.05-39.48-6.894-76.383-16.521-109.087 c17.774-5.88,34.204-12.867,49.008-20.997C556.907,162.437,574.097,207.831,576.772,255.291z M358.794,37.091 c4.597,0.256,9.163,0.677,13.711,1.204c29.022,12.795,54.528,45.775,72.047,90.51c-26.982,6.59-56.138,10.308-85.758,11.147V37.091 z M358.794,255.291v-88.862c32.879-0.885,64.493-5.138,94.294-12.697c9.134,30.549,14.816,65.091,15.912,101.559L358.794,255.291 L358.794,255.291z M432.238,53.477c28.918,11.646,55.371,29.154,77.701,51.667c-12.11,6.257-25.348,11.786-39.654,16.512 C460.143,94.924,447.231,71.847,432.238,53.477z M527.52,411.409c-14.827-8.172-31.273-15.162-49.043-21.001 c9.634-32.716,15.482-69.635,16.533-109.134h81.766C574.113,328.746,556.934,374.152,527.52,411.409z M417.744,484.018V469.27 c0-7.19-2.875-14.081-7.986-19.138l-79.312-78.47c-5.04-4.987-11.844-7.784-18.934-7.784h-40.016V348.87 c0-11.151-9.04-20.19-20.191-20.19H20.19C9.039,328.679,0,337.719,0,348.87v135.147H417.744z M295.255,390.328 c0-1.749,1.414-3.163,3.163-3.163h14.604c0.808,0,1.615,0.337,2.221,0.875l62.12,59.293c2.086,1.952,0.673,5.451-2.153,5.451 h-76.792c-1.75,0-3.163-1.413-3.163-3.163V390.328L295.255,390.328z M417.744,495.174v44.699c0,11.151-9.04,20.191-20.19,20.191 h-21.604c-3.903-26.787-26.988-47.381-54.852-47.381c-27.795,0-50.88,20.595-54.784,47.381h-109.5 c-3.903-26.787-26.989-47.381-54.784-47.381s-50.88,20.595-54.784,47.381H20.19c-11.151,0-20.19-9.04-20.19-20.191v-44.699H417.744 z M321.129,526.17c-23.128,0-41.877,18.749-41.877,41.877s18.749,41.877,41.877,41.877c23.127,0,41.877-18.749,41.877-41.877 S344.256,526.17,321.129,526.17z M321.129,588.985c-11.564,0-20.938-9.375-20.938-20.938s9.374-20.938,20.938-20.938 c11.563,0,20.938,9.374,20.938,20.938S332.692,588.985,321.129,588.985z M102.022,526.17c-23.127,0-41.876,18.749-41.876,41.877 s18.749,41.877,41.876,41.877c23.128,0,41.877-18.749,41.877-41.877S125.15,526.17,102.022,526.17z M102.022,588.985 c-11.563,0-20.938-9.375-20.938-20.938s9.375-20.938,20.938-20.938c11.564,0,20.938,9.374,20.938,20.938 S113.586,588.985,102.022,588.985z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic3.item2")}</span>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4 lg:order-2">
        <ul class="space-y-4 text-left text-gray-900 text-xl">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g transform="translate(1 1)">
                  <path
                    style="fill:#ffffff;"
                    d="M58.733,135.533c-14.507,0-25.6-11.093-25.6-25.6s11.093-25.6,25.6-25.6h34.133v51.2H58.733z"
                  ></path>
                  <path
                    style="fill:#FFFFFF;"
                    d="M33.133,109.933c0-14.507,11.093-25.6,25.6-25.6h-25.6c-14.507,0-25.6,11.093-25.6,25.6 s11.093,25.6,25.6,25.6h25.6C44.227,135.533,33.133,124.44,33.133,109.933"
                  ></path>
                  <path
                    style="fill:#ffffff;"
                    d="M169.667,391.533c-33.28,0-42.667-26.453-42.667-59.733V144.067c0-5.12-3.413-8.533-8.533-8.533 H101.4v-51.2H127c10.24,0,34.133,26.453,34.133,59.733V331.8c0,5.12,3.413,8.533,8.533,8.533h8.533v51.2H169.667z"
                  ></path>
                  <path
                    style="fill:#FFFFFF;"
                    d="M127,331.8V144.067c0-5.12-3.413-8.533-8.533-8.533H101.4c5.12,0,8.533,3.413,8.533,8.533V331.8 c0,33.28,17.92,59.733,51.2,59.733C127.853,391.533,127,365.08,127,331.8"
                  ></path>
                  <path
                    style="fill:#ffffff;"
                    d="M178.2,340.333v51.2h52.907c3.413-10.24,12.8-17.067,23.893-17.067 c11.093,0,20.48,6.827,23.893,17.067h122.88c3.413-10.24,12.8-17.067,23.893-17.067s20.48,6.827,23.893,17.067h1.707 c14.507,0,25.6-11.093,25.6-25.6s-11.093-25.6-25.6-25.6H178.2z"
                  ></path>
                  <path
                    style="fill:#ffffff;"
                    d="M476.867,340.333h-25.6c14.507,0,25.6,11.093,25.6,25.6s-11.093,25.6-25.6,25.6h25.6 c14.507,0,25.6-11.093,25.6-25.6S491.373,340.333,476.867,340.333"
                  ></path>
                  <g>
                    <path
                      style="fill:#ffffff;"
                      d="M280.6,400.067c0-14.507-11.093-25.6-25.6-25.6c-14.507,0-25.6,11.093-25.6,25.6 c0,14.507,11.093,25.6,25.6,25.6C269.507,425.667,280.6,414.573,280.6,400.067"
                    ></path>
                    <path
                      style="fill:#ffffff;"
                      d="M451.267,400.067c0-14.507-11.093-25.6-25.6-25.6s-25.6,11.093-25.6,25.6 c0,14.507,11.093,25.6,25.6,25.6S451.267,414.573,451.267,400.067"
                    ></path>
                  </g>
                  <polygon
                    style="fill:#ffffff;"
                    points="255,340.333 434.2,340.333 434.2,255 255,255 "
                  ></polygon>
                  <polygon
                    style="fill:#ffffff;"
                    points="434.2,340.333 459.8,340.333 459.8,255 434.2,255 "
                  ></polygon>
                  <polygon
                    style="fill:#ffffff;"
                    points="255,84.333 255,186.733 297.667,186.733 297.667,255 417.133,255 417.133,84.333 "
                  ></polygon>
                  <polygon
                    style="fill:#ffffff;"
                    points="417.133,255 442.733,255 442.733,84.333 417.133,84.333 "
                  ></polygon>
                  <polygon
                    style="fill:#ffffff;"
                    points="297.667,255 297.667,186.733 195.267,186.733 195.267,340.333 255,340.333 255,255 "
                  ></polygon>
                  <g>
                    <polygon
                      style="fill:#ffffff;"
                      points="229.4,220.867 263.533,220.867 263.533,186.733 229.4,186.733 "
                    ></polygon>
                    <polygon
                      style="fill:#ffffff;"
                      points="331.8,118.467 365.933,118.467 365.933,84.333 331.8,84.333 "
                    ></polygon>
                    <polygon
                      style="fill:#ffffff;"
                      points="331.8,289.133 365.933,289.133 365.933,255 331.8,255 "
                    ></polygon>
                  </g>
                  <path
                    d="M255,434.2c-18.773,0-34.133-15.36-34.133-34.133s15.36-34.133,34.133-34.133s34.133,15.36,34.133,34.133 S273.773,434.2,255,434.2z M255,383c-9.387,0-17.067,7.68-17.067,17.067s7.68,17.067,17.067,17.067s17.067-7.68,17.067-17.067 S264.387,383,255,383z"
                  ></path>
                  <path
                    d="M425.667,434.2c-18.773,0-34.133-15.36-34.133-34.133s15.36-34.133,34.133-34.133s34.133,15.36,34.133,34.133 S444.44,434.2,425.667,434.2z M425.667,383c-9.387,0-17.067,7.68-17.067,17.067s7.68,17.067,17.067,17.067 s17.067-7.68,17.067-17.067S435.053,383,425.667,383z"
                  ></path>
                  <path
                    d="M178.2,400.067h-8.533c-37.547,0-68.267-30.72-68.267-68.267V144.067h-8.533c-5.12,0-8.533-3.413-8.533-8.533v-51.2 c0-5.12,3.413-8.533,8.533-8.533h8.533c37.547,0,68.267,30.72,68.267,68.267V331.8h8.533c5.12,0,8.533,3.413,8.533,8.533v51.2 C186.733,396.653,183.32,400.067,178.2,400.067z M101.4,127c9.387,0,17.067,7.68,17.067,17.067V331.8c0,28.16,23.04,51.2,51.2,51.2 v-34.133c-9.387,0-17.067-7.68-17.067-17.067V144.067c0-28.16-23.04-51.2-51.2-51.2V127z"
                  ></path>
                  <path
                    d="M92.867,144.067H33.133C14.36,144.067-1,128.707-1,109.933S14.36,75.8,33.133,75.8h59.733c5.12,0,8.533,3.413,8.533,8.533 v51.2C101.4,140.653,97.987,144.067,92.867,144.067z M33.133,92.867c-9.387,0-17.067,7.68-17.067,17.067S23.747,127,33.133,127 h51.2V92.867H33.133z"
                  ></path>
                  <path
                    d="M476.867,400.067H449.56c-3.413,0-6.827-2.56-7.68-5.973c-2.56-6.827-8.533-11.093-16.213-11.093 s-13.653,4.267-16.213,11.093c-0.853,3.413-4.267,5.973-7.68,5.973h-122.88c-3.413,0-6.827-2.56-7.68-5.973 C268.653,387.267,262.68,383,255,383c-6.827,0-13.653,4.267-16.213,11.093c-0.853,3.413-4.267,5.973-7.68,5.973H178.2 c-5.12,0-8.533-3.413-8.533-8.533v-51.2c0-5.12,3.413-8.533,8.533-8.533h298.667c18.773,0,34.133,15.36,34.133,34.133 S495.64,400.067,476.867,400.067z M455.533,383h21.333c9.387,0,17.067-7.68,17.067-17.067s-7.68-17.067-17.067-17.067H186.733V383 h38.4c5.973-10.24,17.067-17.067,29.867-17.067c11.947,0,23.04,6.827,29.867,17.067h111.787 c5.973-10.24,17.067-17.067,29.867-17.067C439.32,365.933,448.707,372.76,455.533,383z"
                  ></path>
                  <path
                    d="M459.8,348.867H255c-5.12,0-8.533-3.413-8.533-8.533V255c0-5.12,3.413-8.533,8.533-8.533h204.8 c5.12,0,8.533,3.413,8.533,8.533v85.333C468.333,345.453,464.92,348.867,459.8,348.867z M263.533,331.8h187.733v-68.267H263.533 V331.8z"
                  ></path>
                  <path
                    d="M255,348.867h-59.733c-5.12,0-8.533-3.413-8.533-8.533v-153.6c0-5.12,3.413-8.533,8.533-8.533h102.4 c5.12,0,8.533,3.413,8.533,8.533V255c0,5.12-3.413,8.533-8.533,8.533h-34.133v76.8C263.533,345.453,260.12,348.867,255,348.867z M203.8,331.8h42.667V255c0-5.12,3.413-8.533,8.533-8.533h34.133v-51.2H203.8V331.8z"
                  ></path>
                  <path
                    d="M442.733,263.533H297.667c-5.12,0-8.533-3.413-8.533-8.533v-59.733H255c-5.12,0-8.533-3.413-8.533-8.533v-102.4 c0-5.12,3.413-8.533,8.533-8.533h187.733c5.12,0,8.533,3.413,8.533,8.533v34.133c0,5.12-3.413,8.533-8.533,8.533 c-5.12,0-8.533-3.413-8.533-8.533v-25.6H263.533V178.2h34.133c5.12,0,8.533,3.413,8.533,8.533v59.733h128v-59.733 c0-5.12,3.413-8.533,8.533-8.533c5.12,0,8.533,3.413,8.533,8.533V255C451.267,260.12,447.853,263.533,442.733,263.533z"
                  ></path>
                  <path
                    d="M451.267,152.6c0-5.12-3.413-8.533-8.533-8.533c-5.12,0-8.533,3.413-8.533,8.533c0,5.12,3.413,8.533,8.533,8.533 C447.853,161.133,451.267,157.72,451.267,152.6"
                  ></path>
                  <path
                    d="M263.533,229.4H229.4c-5.12,0-8.533-3.413-8.533-8.533v-34.133c0-5.12,3.413-8.533,8.533-8.533h34.133 c5.12,0,8.533,3.413,8.533,8.533v34.133C272.067,225.987,268.653,229.4,263.533,229.4z M237.933,212.333H255v-17.067h-17.067 V212.333z"
                  ></path>
                  <path
                    d="M365.933,127H331.8c-5.12,0-8.533-3.413-8.533-8.533V84.333c0-5.12,3.413-8.533,8.533-8.533h34.133 c5.12,0,8.533,3.413,8.533,8.533v34.133C374.467,123.587,371.053,127,365.933,127z M340.333,109.933H357.4V92.867h-17.067V109.933z "
                  ></path>
                  <path
                    d="M365.933,297.667H331.8c-5.12,0-8.533-3.413-8.533-8.533V255c0-5.12,3.413-8.533,8.533-8.533h34.133 c5.12,0,8.533,3.413,8.533,8.533v34.133C374.467,294.253,371.053,297.667,365.933,297.667z M340.333,280.6H357.4v-17.067h-17.067 V280.6z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic3.item3")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>network</title>
                <path
                  d="M27 22.25c-0.831 0.002-1.598 0.277-2.215 0.739l0.010-0.007-3.299-2.998c0.82-1.097 1.313-2.479 1.313-3.977 0-1.614-0.572-3.094-1.525-4.249l0.009 0.011 3.644-3.643c0.584 0.391 1.302 0.624 2.074 0.624 2.077 0 3.76-1.683 3.76-3.76s-1.683-3.76-3.76-3.76c-2.077 0-3.76 1.683-3.76 3.76 0 0.773 0.233 1.491 0.633 2.088l-0.009-0.014-3.643 3.643c-1.145-0.944-2.627-1.517-4.244-1.517-0.937 0-1.828 0.192-2.638 0.54l0.044-0.017-1.032-1.874c0.791-0.688 1.288-1.695 1.288-2.819 0-2.060-1.67-3.729-3.729-3.729s-3.729 1.67-3.729 3.729c0 2.060 1.67 3.729 3.729 3.729 0.007 0 0.015-0 0.022-0h-0.001c0.398-0.006 0.778-0.073 1.133-0.194l-0.026 0.008 1.037 1.883c-1.757 1.243-2.89 3.265-2.894 5.553v0.001c0.010 0.697 0.125 1.364 0.33 1.99l-0.013-0.047-1.423 0.603c-0.681-0.971-1.795-1.597-3.056-1.597-2.056 0-3.722 1.666-3.722 3.722s1.666 3.722 3.722 3.722c2.056 0 3.722-1.666 3.722-3.722 0-0.264-0.027-0.521-0.079-0.769l0.004 0.024 1.419-0.602c1.167 2.093 3.367 3.485 5.892 3.485 1.73 0 3.308-0.654 4.5-1.728l-0.006 0.005 3.309 3.007c-0.335 0.544-0.535 1.201-0.539 1.906v0.001c0 2.071 1.679 3.75 3.75 3.75s3.75-1.679 3.75-3.75c0-2.071-1.679-3.75-3.75-3.75v0zM7.69 5c0-1.243 1.007-2.25 2.25-2.25s2.25 1.007 2.25 2.25c0 1.243-1.007 2.25-2.25 2.25v0c-1.242-0.002-2.248-1.008-2.25-2.25v-0zM5 22.92c-1.242-0.001-2.248-1.007-2.248-2.249s1.007-2.249 2.249-2.249c1.242 0 2.248 1.006 2.249 2.248v0c-0.002 1.242-1.008 2.248-2.25 2.25h-0zM27 2.75c1.243 0 2.25 1.007 2.25 2.25s-1.007 2.25-2.25 2.25c-1.243 0-2.25-1.007-2.25-2.25v0c0.002-1.242 1.008-2.248 2.25-2.25h0zM10.69 16c0-0 0-0 0-0.001 0-2.932 2.377-5.309 5.309-5.309s5.309 2.377 5.309 5.309c0 2.932-2.377 5.309-5.309 5.309h-0c-2.931-0.003-5.306-2.378-5.31-5.308v-0zM27 28.25c-1.243 0-2.25-1.007-2.25-2.25s1.007-2.25 2.25-2.25c1.243 0 2.25 1.007 2.25 2.25v0c-0.002 1.242-1.008 2.248-2.25 2.25h-0z"
                ></path>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic3.item4")}</span>
          </li>
        </ul>
      </div>
    </div>
    <center>
      <p class="text-xl uppercase font-bold text-violet-700">
        {t("exhibitor-profile.topic4.title")}
      </p>
    </center>
    <div class="flex flex-wrap items-center justify-center lg:px-24 p-10">
      <div class="w-full sm:w-1/2 p-4 lg:order-1">
        <ul
          class="space-y-4 text-left text-gray-900 text-xl list-inside"
        >
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 30 30"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M5.5 5c-.655 0-.66 1.01 0 1h22c.286 0 .5.214.5.5v13c0 .66 1 .66 1 0v-13c0-.822-.678-1.5-1.5-1.5h-22zm-2 2c-.654 0-.654 1 0 1h22c.286 0 .5.214.5.5v13c0 .665 1.01.66 1 0v-13c0-.822-.678-1.5-1.5-1.5h-22zm-2 2C.678 9 0 9.678 0 10.5v12c0 .822.678 1.5 1.5 1.5h22c.822 0 1.5-.678 1.5-1.5v-12c0-.822-.678-1.5-1.5-1.5h-22zm0 1h22c.286 0 .5.214.5.5v12c0 .286-.214.5-.5.5h-22c-.286 0-.5-.214-.5-.5v-12c0-.286.214-.5.5-.5zm1 1c-.276 0-.5.224-.5.5v2c0 .672 1 .656 1 0V12h1.5c.672 0 .656-1 0-1h-2zm10 0C9.468 11 7 13.468 7 16.5S9.468 22 12.5 22s5.5-2.468 5.5-5.5-2.468-5.5-5.5-5.5zm8 0c-.656 0-.672 1 0 1H22v1.5c0 .656 1 .672 1 0v-2c0-.276-.224-.5-.5-.5h-2zm-8 1c2.49 0 4.5 2.01 4.5 4.5S14.99 21 12.5 21 8 18.99 8 16.5s2.01-4.5 4.5-4.5zm0 1c-.277 0-.5.223-.5.5v.594c-.578.21-1 .76-1 1.406 0 .82.68 1.5 1.5 1.5.28 0 .5.212.5.5 0 .288-.22.5-.5.5h-1c-.338-.005-.5.248-.5.5s.162.505.5.5h.5v.5c0 .277.223.5.5.5s.5-.223.5-.5v-.594c.578-.21 1-.76 1-1.406 0-.82-.68-1.5-1.5-1.5-.28 0-.5-.212-.5-.5 0-.288.22-.5.5-.5h1c.338.005.5-.248.5-.5s-.162-.505-.5-.5H13v-.5c0-.277-.223-.5-.5-.5zm-10 6.002c-.25-.002-.5.162-.5.498v2c0 .276.224.5.5.5h2c.656 0 .672-1 0-1H3v-1.5c0-.328-.25-.496-.5-.498zm20 0c-.25.002-.5.17-.5.498V21h-1.5c-.672 0-.656 1 0 1h2c.276 0 .5-.224.5-.5v-2c0-.336-.25-.5-.5-.498z"
                ></path></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic4.item1")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve"
              width="64px"
              height="64px"
              stroke="#000000"
              stroke-width="0.00032"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  id="global--markets_1_"
                  d="M31,15.64H16.724l3.716-4.904c0.172,0.078,0.36,0.124,0.56,0.124c0.299,0,0.573-0.1,0.798-0.264 l1.952,1.87C23.68,12.63,23.64,12.81,23.64,13c0,0.75,0.61,1.36,1.36,1.36s1.36-0.61,1.36-1.36c0-0.294-0.096-0.564-0.255-0.787 l3.321-3.985C29.601,8.31,29.794,8.36,30,8.36c0.75,0,1.36-0.61,1.36-1.36S30.75,5.64,30,5.64S28.64,6.25,28.64,7 c0,0.283,0.087,0.546,0.236,0.764l-3.328,3.993C25.38,11.683,25.195,11.64,25,11.64c-0.299,0-0.573,0.1-0.797,0.263l-1.952-1.87 c0.07-0.164,0.11-0.344,0.11-0.533c0-0.75-0.61-1.36-1.36-1.36s-1.36,0.61-1.36,1.36c0,0.289,0.092,0.556,0.246,0.776l-3.526,4.653 V1.376c3.241,0.08,6.342,1.228,8.851,3.264h-2.22v0.72h3.37V2H25.64v2.061C22.914,1.858,19.525,0.64,16,0.64l0,0l0,0l0,0l0,0 C7.53,0.64,0.64,7.53,0.64,16c0,0.199,0.161,0.36,0.36,0.36h14.64v14.263c-3.239-0.08-6.342-1.227-8.851-3.263H9.01v-0.72H5.64V30 h0.72v-2.062c2.726,2.203,6.117,3.422,9.64,3.422c8.47,0,15.36-6.891,15.36-15.36C31.36,15.801,31.199,15.64,31,15.64z M16.36,23.86 h5.653c-1.209,3.873-3.279,6.497-5.653,6.742V23.86z M16.36,23.14v-6.78h6.771c-0.029,2.457-0.352,4.764-0.904,6.78H16.36z M30,6.36 c0.353,0,0.64,0.287,0.64,0.64S30.353,7.64,30,7.64S29.36,7.353,29.36,7S29.647,6.36,30,6.36z M25,12.36 c0.353,0,0.64,0.287,0.64,0.64s-0.287,0.64-0.64,0.64s-0.64-0.287-0.64-0.64S24.647,12.36,25,12.36z M21,8.86 c0.353,0,0.64,0.287,0.64,0.64s-0.287,0.64-0.64,0.64s-0.64-0.287-0.64-0.64S20.647,8.86,21,8.86z M15.64,8.14H9.986 c1.209-3.874,3.279-6.498,5.654-6.743C15.64,1.397,15.64,8.14,15.64,8.14z M13.241,1.636C11.567,2.868,10.167,5.179,9.26,8.14H3.67 C5.799,4.813,9.228,2.406,13.241,1.636z M3.225,8.86h5.821c-0.549,2.035-0.868,4.338-0.897,6.78H1.364 C1.424,13.183,2.094,10.876,3.225,8.86z M8.869,15.64c0.029-2.457,0.352-4.765,0.904-6.78h5.868v6.78 C15.641,15.64,8.869,15.64,8.869,15.64z M18.76,30.364c1.673-1.232,3.073-3.543,3.981-6.504h5.589 C26.201,27.187,22.773,29.594,18.76,30.364z M28.775,23.14h-5.821c0.549-2.035,0.868-4.337,0.897-6.78h6.785 C30.576,18.817,29.906,21.124,28.775,23.14z M14.36,24v-6c0-0.199-0.161-0.36-0.36-0.36H2c-0.199,0-0.36,0.161-0.36,0.36v6 c0,0.199,0.161,0.36,0.36,0.36h12C14.199,24.36,14.36,24.199,14.36,24z M11.677,23.64H4.323c-0.157-1.012-0.952-1.807-1.964-1.964 v-1.352c1.012-0.157,1.807-0.952,1.964-1.964h7.353c0.157,1.012,0.952,1.807,1.964,1.964v1.352 C12.629,21.833,11.833,22.628,11.677,23.64z M13.64,19.597c-0.615-0.139-1.099-0.622-1.237-1.237h1.237 C13.64,18.36,13.64,19.597,13.64,19.597z M3.597,18.36c-0.139,0.615-0.623,1.098-1.237,1.237V18.36H3.597z M2.36,22.403 c0.615,0.139,1.099,0.622,1.237,1.237H2.36V22.403z M12.403,23.64c0.139-0.615,0.623-1.098,1.237-1.237v1.237H12.403z M8,19.64 c-0.75,0-1.36,0.61-1.36,1.36S7.25,22.36,8,22.36S9.36,21.75,9.36,21S8.75,19.64,8,19.64z M8,21.64c-0.353,0-0.64-0.287-0.64-0.64 S7.647,20.36,8,20.36c0.353,0,0.64,0.287,0.64,0.64S8.353,21.64,8,21.64z M4,20.64h1v0.721H4V20.64z M11,20.64h1v0.721h-1V20.64z"
                ></path>
                <rect
                  id="_Transparent_Rectangle"
                  style="fill:none;"
                  width="32"
                  height="32"></rect>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic4.item2")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="84px"
              height="84px"
              viewBox="0 0 64 64"
              id="Layer_1"
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                  .st1 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                  .st2 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                  .st3 {
                    fill: #000000;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                  .st4 {
                    fill: #000000;
                  }
                  .st5 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                  }
                  .st6 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                  }
                  .st7 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }
                  .st8 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                  }
                  .st9 {
                    fill: none;
                    stroke: #000000;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g>
                  <path
                    class="st2"
                    d="M36.6,38h-9.3c-0.2,0-0.4-0.2-0.4-0.4v-7.3c0-0.2,0.2-0.4,0.4-0.4h9.3c0.2,0,0.4,0.2,0.4,0.4v7.3 C37,37.8,36.8,38,36.6,38z"
                  ></path>
                  <path
                    class="st2"
                    d="M35,30H29c-0.2,0-0.4-0.2-0.4-0.4v-1.3c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v1.3 C35.3,29.8,35.2,30,35,30z"
                  ></path>
                  <line class="st1" x1="32" x2="32" y1="34" y2="34"></line>
                </g>
                <path
                  class="st0"
                  d="M14.8,32c0-9.4,7.6-17,17-17s17,7.6,17,17s-7.6,17-17,17c-3.8,0-7.3-1.2-10.1-3.3"
                ></path>
                <circle class="st0" cx="19.9" cy="43.9" r="2.5"></circle>
                <polyline class="st0" points="17.8,30.2 15,33 12.2,30.2 "
                ></polyline>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic4.item3")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="80px"
              height="80px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g data-name="31 delivery box" id="_31_delivery_box">
                  <path
                    d="M32,3.5A19.7,19.7,0,0,0,12.32,23.18c0,.03.02.06.02.09a1.18,1.18,0,0,0,.04.2,1.336,1.336,0,0,0,.07.18,1.3,1.3,0,0,0,.1.15,1,1,0,0,0,.15.14.234.234,0,0,0,.07.07L28.7,34.63H17.43a2.006,2.006,0,0,0-2,2V58.5a2.006,2.006,0,0,0,2,2H46.57a2.006,2.006,0,0,0,2-2V36.63a2.006,2.006,0,0,0-2-2H35.3L51.23,24.01a.234.234,0,0,0,.07-.07,1,1,0,0,0,.15-.14,1.3,1.3,0,0,0,.1-.15,1.336,1.336,0,0,0,.07-.18,1.18,1.18,0,0,0,.04-.2c0-.03.02-.06.02-.09A19.7,19.7,0,0,0,32,3.5Zm0,2a17.694,17.694,0,0,1,15.68,9.52,10.243,10.243,0,0,0-6.34-2.18A10.347,10.347,0,0,0,32,18.75a10.347,10.347,0,0,0-9.34-5.91,10.243,10.243,0,0,0-6.34,2.18A17.694,17.694,0,0,1,32,5.5ZM14.35,22.66A8.333,8.333,0,0,1,31,23.18V33.76ZM34.11,36.63v8.55l-1.56-1.04a.975.975,0,0,0-1.1,0l-1.56,1.04V36.63Zm1.47,11.3a1,1,0,0,0,.53-.88V36.63H46.57V58.5H17.43V36.63H27.89V47.05a1,1,0,0,0,.53.88,1.009,1.009,0,0,0,1.02-.05L32,46.17l2.56,1.71a1.016,1.016,0,0,0,.55.17A.939.939,0,0,0,35.58,47.93ZM33,33.76V23.18a8.333,8.333,0,0,1,16.65-.52Z"
                  ></path>
                  <path
                    d="M43.42,50.2H37.19a1,1,0,0,0-1,1v4.15a1,1,0,0,0,1,1h6.23a1,1,0,0,0,1-1V51.2A1,1,0,0,0,43.42,50.2Zm-1,4.15H38.19V52.2h4.23Z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic4.item4")}</span>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4 lg:order-2">
        <ul class="space-y-4 text-left text-gray-900 text-xl">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512.015 512.015"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M102.409,0c-42.351,0.009-76.8,34.458-76.8,76.809c0,42.351,34.449,76.792,76.8,76.792c42.351,0,76.8-34.449,76.8-76.8 C179.209,34.449,144.76,0,102.409,0z M102.409,128.009c-28.279,0-51.2-22.921-51.2-51.2s22.921-51.2,51.2-51.2 s51.2,22.921,51.2,51.2S130.689,128.009,102.409,128.009z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M486.409,128h-256c-14.14,0-25.6,11.46-25.6,25.6v19.55l25.6,12.8V153.6h256v204.791h-256v-30.43l-25.6-6.391v36.821 c0,14.14,11.46,25.6,25.6,25.6h105.404l-65.178,108.621c-3.652,6.05-1.673,13.926,4.403,17.553 c5.999,3.678,13.901,1.698,17.553-4.403l53.018-88.371v81.792c0,7.074,5.726,12.8,12.8,12.8s12.8-5.726,12.8-12.8v-81.792 l53.026,88.363c2.398,4.002,6.647,6.221,10.974,6.221c2.253,0,4.523-0.572,6.579-1.826c6.076-3.627,8.047-11.503,4.403-17.553 l-65.178-108.621h105.395c14.14,0,25.6-11.46,25.6-25.6V153.6C512.009,139.46,500.549,128,486.409,128z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M447.506,201.276c-1.929-6.801-9.003-10.803-15.821-8.772l-157.961,45.133c-1.843-1.783-3.908-3.345-6.263-4.531 l-102.4-51.2c-3.558-1.775-7.475-2.705-11.452-2.705h-102.4c-12.373,0-22.972,8.849-25.19,21.018l-25.6,140.791 c-1.357,7.467,0.666,15.155,5.53,20.983s12.066,9.199,19.661,9.199h16.358l9.327,117.222c1.058,13.312,12.16,23.569,25.515,23.569 h51.2c13.047,0,24.004-9.805,25.446-22.767l22.366-201.276l73.984,18.492c2.048,0.512,4.13,0.759,6.204,0.759 c5.649,0,11.204-1.869,15.753-5.419c6.212-4.847,9.847-12.297,9.847-20.181V261.99l157.124-44.894 C445.535,215.168,449.46,208.068,447.506,201.276z M256.009,281.6l-102.4-25.6l-25.6,230.392h-51.2l-11.196-140.8H25.609 l25.6-140.791h38.4v77.875c0,7.074,5.726,12.8,12.8,12.8c7.074,0,12.8-5.726,12.8-12.8V204.8h38.4l102.4,51.2V281.6z"
                    ></path>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic4.item5")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g data-name="17 quality" id="_17_quality">
                  <path
                    d="M40.4,20.57a1.009,1.009,0,0,0-.95-.69H34.48l-1.53-4.72a1,1,0,0,0-1.9,0l-1.53,4.72H24.55a1.009,1.009,0,0,0-.95.69.991.991,0,0,0,.37,1.12l4.01,2.92-1.53,4.72a1,1,0,0,0,.36,1.12,1.022,1.022,0,0,0,1.18,0L32,27.53l4.01,2.92a1.086,1.086,0,0,0,.59.19,1.036,1.036,0,0,0,.59-.19,1,1,0,0,0,.36-1.12l-1.53-4.72,4.01-2.92A.991.991,0,0,0,40.4,20.57Zm-6.14,2.85a1.006,1.006,0,0,0-.37,1.12l.81,2.48-2.11-1.54a1.011,1.011,0,0,0-1.18,0L29.3,27.02l.81-2.48a1.006,1.006,0,0,0-.37-1.12l-2.11-1.54h2.61a.991.991,0,0,0,.95-.69L32,18.71l.81,2.48a.991.991,0,0,0,.95.69h2.61Z"
                  ></path>
                  <path
                    d="M32,10.26a13.239,13.239,0,0,0-1.13,26.43c.38.03.75.05,1.13.05.34,0,.69-.02,1.03-.05h.1v-.01A13.234,13.234,0,0,0,32,10.26Zm9.81,18.72a.01.01,0,0,0-.01.01,11.191,11.191,0,0,1-8.85,5.7l-.01.01h-.01a9.1,9.1,0,0,1-1.88-.01,11.236,11.236,0,1,1,10.76-5.71Z"
                  ></path>
                  <path
                    d="M58.88,52.73,55.12,46.9q-4.035-6.225-8.06-12.47c.21-.08.45-.17.69-.25a4.179,4.179,0,0,0,2.67-1.8,4.179,4.179,0,0,0-.25-3.19,4.06,4.06,0,0,1-.37-1.63,3.96,3.96,0,0,1,1.01-1.25,4.234,4.234,0,0,0,1.64-2.81,4.19,4.19,0,0,0-1.64-2.8,4.091,4.091,0,0,1-1.01-1.26,4.06,4.06,0,0,1,.37-1.63,4.157,4.157,0,0,0,.25-3.18,4.2,4.2,0,0,0-2.67-1.8,4.218,4.218,0,0,1-1.49-.71,4.362,4.362,0,0,1-.36-1.61,4.191,4.191,0,0,0-1.15-3,4.2,4.2,0,0,0-3.17-.45,4.081,4.081,0,0,1-1.65,0,4.051,4.051,0,0,1-1.01-1.27,4.212,4.212,0,0,0-2.37-2.23,4.132,4.132,0,0,0-3.02.96A4.143,4.143,0,0,1,32,5.25a4.143,4.143,0,0,1-1.53-.73,4.122,4.122,0,0,0-3.01-.96,4.2,4.2,0,0,0-2.38,2.23,4.2,4.2,0,0,1-1,1.27,4.136,4.136,0,0,1-1.66,0,4.174,4.174,0,0,0-3.16.45,4.164,4.164,0,0,0-1.16,3.01,3.961,3.961,0,0,1-.37,1.6,3.944,3.944,0,0,1-1.47.7,4.226,4.226,0,0,0-2.68,1.8,4.179,4.179,0,0,0,.25,3.19,4.06,4.06,0,0,1,.37,1.63,4.091,4.091,0,0,1-1.01,1.26,4.19,4.19,0,0,0-1.64,2.8,4.234,4.234,0,0,0,1.64,2.81,3.96,3.96,0,0,1,1.01,1.25,4.06,4.06,0,0,1-.37,1.63,4.157,4.157,0,0,0-.25,3.18,4.142,4.142,0,0,0,2.67,1.8c.23.09.47.17.69.26Q12.905,40.67,8.88,46.9L5.12,52.73a.981.981,0,0,0,.01,1.1.992.992,0,0,0,1.01.42l6.83-1.27,1.66,6.76a1,1,0,0,0,.81.74.875.875,0,0,0,.16.02.985.985,0,0,0,.84-.46L27.22,43.35c.08.02.15.07.23.09a2.2,2.2,0,0,0,.5.06,5.009,5.009,0,0,0,2.52-1.02A4.143,4.143,0,0,1,32,41.75a4.143,4.143,0,0,1,1.53.73,4.1,4.1,0,0,0,3.03.96c.08-.02.15-.07.22-.09L47.56,60.04a.985.985,0,0,0,.84.46.875.875,0,0,0,.16-.02,1,1,0,0,0,.81-.74l1.66-6.76,6.83,1.27a1,1,0,0,0,1.01-.42A.981.981,0,0,0,58.88,52.73ZM16.02,57l-1.33-5.41a1,1,0,0,0-1.15-.75L8.06,51.86l2.5-3.87q3.75-5.82,7.52-11.64a.784.784,0,0,1,.02.14,4.191,4.191,0,0,0,1.15,3,4.205,4.205,0,0,0,3.17.45,4.081,4.081,0,0,1,1.65,0,3.935,3.935,0,0,1,1.01,1.27c.19.29.38.58.58.86ZM36.4,41.29a.7.7,0,0,1-.3.2c-.28.06-1.02-.39-1.5-.7A5.071,5.071,0,0,0,32,39.75a5.071,5.071,0,0,0-2.6,1.04c-.48.31-1.22.77-1.49.71a.828.828,0,0,1-.32-.22,6.488,6.488,0,0,1-.81-1.13,5.026,5.026,0,0,0-1.83-2.01,3.246,3.246,0,0,0-1.45-.29,11.376,11.376,0,0,0-1.3.1c-.62.07-1.46.17-1.7-.02s-.34-1.04-.41-1.66a5.025,5.025,0,0,0-.79-2.64,1.7,1.7,0,0,0-.27-.27,1.249,1.249,0,0,0-.12-.09l-.01-.01h-.01a6.3,6.3,0,0,0-1.98-.97c-.59-.21-1.39-.49-1.53-.79-.14-.28.14-1.07.34-1.65a4.932,4.932,0,0,0,.43-2.73,4.848,4.848,0,0,0-1.55-2.23c-.44-.44-1.05-1.05-1.05-1.39s.61-.95,1.05-1.39a4.848,4.848,0,0,0,1.55-2.23,4.932,4.932,0,0,0-.43-2.73c-.2-.58-.48-1.37-.34-1.66s.95-.57,1.54-.78a4.864,4.864,0,0,0,2.37-1.34,4.91,4.91,0,0,0,.8-2.63c.07-.62.16-1.46.41-1.66s1.08-.1,1.7-.03a5.007,5.007,0,0,0,2.75-.19,4.956,4.956,0,0,0,1.83-2.01c.33-.54.79-1.27,1.12-1.34.28-.07,1.02.4,1.5.7A5.071,5.071,0,0,0,32,7.25a5.071,5.071,0,0,0,2.6-1.04c.48-.3,1.21-.76,1.5-.7.33.07.79.8,1.12,1.34a4.956,4.956,0,0,0,1.83,2.01,5.007,5.007,0,0,0,2.75.19c.62-.07,1.46-.17,1.7.02s.34,1.04.41,1.66a5.025,5.025,0,0,0,.79,2.64,5.024,5.024,0,0,0,2.39,1.35c.59.2,1.39.48,1.53.78.14.28-.14,1.07-.34,1.65a4.932,4.932,0,0,0-.43,2.73,4.848,4.848,0,0,0,1.55,2.23c.44.44,1.05,1.05,1.05,1.39s-.61.95-1.05,1.39a4.848,4.848,0,0,0-1.55,2.23,4.932,4.932,0,0,0,.43,2.73c.2.58.48,1.37.34,1.66s-.95.58-1.53.78a6.074,6.074,0,0,0-2.07,1.02,3.107,3.107,0,0,0-.31.32,4.91,4.91,0,0,0-.8,2.63c-.07.62-.16,1.46-.41,1.66s-1.08.1-1.7.03a4.916,4.916,0,0,0-2.75.19,5.026,5.026,0,0,0-1.83,2.01A6.464,6.464,0,0,1,36.4,41.29Zm14.06,9.55a1,1,0,0,0-1.15.75L47.98,57,38.34,42.07c.2-.28.39-.57.58-.86a4.07,4.07,0,0,1,1-1.27,4.136,4.136,0,0,1,1.66,0,4.174,4.174,0,0,0,3.16-.45,4.157,4.157,0,0,0,1.16-3,.675.675,0,0,1,.02-.14q3.765,5.82,7.52,11.64l2.5,3.87Z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic4.item6")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M14.635 2.217a.74.74 0 0 0-1.048 0l-10.37 10.37a.74.74 0 0 0-.217.524v5.185a.741.741 0 0 0 .217.524l2.286 2.286c-.247.6-.513.881-.722.881-.429 0-.846-.58-.982-.86l-.086-.18-1.037.493.085.18c.029.063.728 1.518 2.02 1.518a1.853 1.853 0 0 0 1.608-1.215.732.732 0 0 0 .315.077h5.185a.741.741 0 0 0 .524-.217l10.37-10.37a.74.74 0 0 0 0-1.048zM11.782 21H6.81l-.043-.043a10.076 10.076 0 0 0 .258-1.005 2.533 2.533 0 1 0-1.056-.488c-.022.079-.05.152-.066.235-.023.115-.048.216-.072.322L4 18.189v-4.97L14.11 3.106l7.783 7.782zM6 17.5A1.5 1.5 0 1 1 7.5 19c-.021 0-.04-.005-.062-.006a2.873 2.873 0 0 1 .61-.647l.16-.114-.649-.946-.165.115A4.018 4.018 0 0 0 6.39 18.5a1.489 1.489 0 0 1-.39-1zm2.542-5.792l5.922-5.922.707.707-5.922 5.923zm2.021 2.022l5.922-5.922.707.707-5.922 5.922zm2.021 2.021l5.923-5.922.707.707-5.922 5.922z"
                ></path><path fill="none" d="M0 0h24v24H0z"></path></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic4.item7")}</span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M7.25 12a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM6.5 9.25a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5a.75.75 0 01-.75-.75zM7.25 5a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM10 12.75a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5a.75.75 0 01-.75-.75zm.75-4.25a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM10 5.75a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5a.75.75 0 01-.75-.75zM14.25 12a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zm-.75-2.75a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5a.75.75 0 01-.75-.75zM14.25 5a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5z"
                ></path><path
                  fill-rule="evenodd"
                  d="M3 20a2 2 0 002 2h3.75a.75.75 0 00.75-.75V19h3v2.25c0 .414.336.75.75.75H17c.092 0 .183-.006.272-.018a.758.758 0 00.166.018H21.5a2 2 0 002-2v-7.625a2 2 0 00-.8-1.6l-1-.75a.75.75 0 10-.9 1.2l1 .75a.5.5 0 01.2.4V20a.5.5 0 01-.5.5h-2.563c.041-.16.063-.327.063-.5V3a2 2 0 00-2-2H5a2 2 0 00-2 2v17zm2 .5a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h12a.5.5 0 01.5.5v17a.5.5 0 01-.5.5h-3v-2.25a.75.75 0 00-.75-.75h-4.5a.75.75 0 00-.75.75v2.25H5z"
                ></path></g
              ></svg
            >
            <span>{t("exhibitor-profile.topic4.item8")}</span>
          </li>
        </ul>
      </div>
    </div>
    <center>
      <p class="text-xl uppercase font-bold text-violet-700">
        {t("exhibitor-profile.topic5.title")}
      </p>
    </center>
    <div class="flex flex-wrap items-center justify-center lg:px-24 p-10">
      <div class="w-full sm:w-1/2 p-4 lg:order-1">
        <ul
          class="space-y-4 text-left text-gray-900 text-xl list-inside"
        >
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 511.999 511.999"
              xml:space="preserve"
              width="64px"
              height="64px"
              stroke="#000000"
              stroke-width="4.607991"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M480,0H31.997v110.569h29.089v401.43h270.55v-17.484H78.57v-93.056h317.058v-17.484H78.57V244.379h72.708v-17.484H78.57 V110.569h354.859v63.967H116.371v17.484h317.058v34.876H360.72v17.484h72.708v250.137h-72.705v17.484h90.189v-401.43h29.089V0H480 z M107.629,93.085H49.481V17.484h58.148V93.085z M177.443,93.085h-52.331V17.484h52.331V93.085z M247.258,93.085h-52.331V17.484 h52.331V93.085z M317.071,93.085h-52.33V17.484h52.33V93.085z M386.885,93.085h-52.331V17.484h52.331V93.085z M462.517,93.085 h-58.148V17.484h58.148V93.085z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M308.783,281.877l40.267-39.663l-12.268-12.455L296.8,269.141c-9.108-9.198-27.195-23.764-51.777-25.598 c-24.123-1.794-48.083,9.003-71.187,32.106l-5.323,5.323l4.475,6.054c0.918,1.241,22.887,30.444,58.381,33.092 c1.726,0.128,3.448,0.193,5.172,0.193c20.174,0,40.189-8.847,59.653-26.299l40.892,40.892l12.362-12.363L308.783,281.877z M232.817,302.693c-18.885-1.353-33.374-13.079-40.633-20.339c17.294-15.405,34.548-22.598,51.391-21.387 c18.89,1.354,33.381,13.086,40.633,20.338C266.915,296.712,249.647,303.892,232.817,302.693z"
                    ></path>
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="104.737" y="442.16" width="34.907" height="17.484"
                    ></rect>
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="157.095" y="442.16" width="34.907" height="17.484"
                    ></rect>
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="372.353" y="442.16" width="34.907" height="17.484"
                    ></rect>
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="372.353" y="279.26" width="34.907" height="17.484"
                    ></rect>
                  </g>
                </g>
                <g>
                  <g>
                    <rect x="104.737" y="279.26" width="34.907" height="17.484"
                    ></rect>
                  </g>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic5.item1")}</span>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4 lg:order-2">
        <ul class="space-y-4 text-left text-gray-900 text-xl">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g data-name="20 market" id="_20_market">
                  <path
                    d="M19.52,31H12.64a1,1,0,0,0-1,1v6.88a1,1,0,0,0,1,1h6.88a1,1,0,0,0,1-1V32A1,1,0,0,0,19.52,31Zm-1,6.88H13.64V33h4.88Z"
                  ></path>
                  <path
                    d="M53.07,50.83C55.43,46.97,58,41.92,58,39.04a10.006,10.006,0,0,0-9.98-10V20.21c0-.01-.01-.02-.01-.04a.829.829,0,0,0-.07-.34v-.01l-3.79-9.24a2.045,2.045,0,0,0-1.91-1.19h-.11V4.5a1,1,0,0,0-1-1H27.38a1,1,0,0,0-1,1V9.39H12.51a2.055,2.055,0,0,0-1.91,1.19L6.81,19.82v.01a1.032,1.032,0,0,0-.07.34c0,.02-.01.03-.01.04V50.64a1.987,1.987,0,0,0-1.96,1.98v4.92a1.985,1.985,0,0,0,1.98,1.98H41.24A22.813,22.813,0,0,0,48,60.5c5.45,0,11.23-1.78,11.23-5.09C59.23,53.35,56.91,51.65,53.07,50.83ZM48,31.04a8.011,8.011,0,0,1,8,8c0,2.58-2.88,8.09-5.39,11.99a.01.01,0,0,0-.01.01c-.77,1.19-1.5,2.24-2.1,3a.641.641,0,0,1-1,0c-.6-.76-1.33-1.81-2.1-3v-.01c-2.51-3.9-5.4-9.41-5.4-11.99A8.011,8.011,0,0,1,48,31.04Zm-9.93,6.84H36.23V33h3.82A9.915,9.915,0,0,0,38.07,37.88Zm7.95-13.7a2.9,2.9,0,0,1-2.9,2.89h-.06a2.9,2.9,0,0,1-2.9-2.89V21.21h5.86ZM42.24,11.39c.04,0,.07.01.07-.01l3.22,7.83H39.91l-2.35-7.82ZM32.3,21.21h5.86v2.97a2.9,2.9,0,0,1-2.89,2.89H35.2a2.9,2.9,0,0,1-2.9-2.89Zm-.09-2-.78-7.82h4.04l2.35,7.82ZM28.38,5.5H40.13V9.39H28.38Zm-3.05,5.89h4.09l.78,7.82H24.55Zm-.88,9.82H30.3v2.97a2.891,2.891,0,0,1-2.89,2.89h-.07a2.9,2.9,0,0,1-2.89-2.89Zm-1.13-9.82-.78,7.82H16.93l2.35-7.82Zm-.87,9.82v2.97a2.9,2.9,0,0,1-2.9,2.89h-.07a2.9,2.9,0,0,1-2.89-2.89V21.21ZM12.4,11.42a.178.178,0,0,1,.11-.03h4.68l-2.34,7.82H9.22ZM8.73,21.21h5.86v2.97a2.9,2.9,0,0,1-2.89,2.89h-.07a2.9,2.9,0,0,1-2.9-2.89Zm0,6.89a4.883,4.883,0,0,0,2.9.97h.07a4.876,4.876,0,0,0,3.89-1.96,4.876,4.876,0,0,0,3.89,1.96h.07a4.9,4.9,0,0,0,3.9-1.96,4.876,4.876,0,0,0,3.89,1.96h.07a4.862,4.862,0,0,0,3.89-1.96,4.9,4.9,0,0,0,3.9,1.96h.07a4.876,4.876,0,0,0,3.89-1.96,4.9,4.9,0,0,0,3.9,1.96h.06a4.86,4.86,0,0,0,2.9-.97v1.13A10.115,10.115,0,0,0,42.07,31H35.23a1,1,0,0,0-1,1v6.88a1,1,0,0,0,1,1h2.83c.4,2.9,2.64,7.28,4.75,10.76H32.3V41.79a4.925,4.925,0,0,0-9.85,0v8.85H8.73ZM30.3,41.79v8.85H24.45V41.79a2.925,2.925,0,0,1,5.85,0Zm6.47,13.62a3.056,3.056,0,0,0,.92,2.11l-30.92.02-.02-4.9H38.43A3.5,3.5,0,0,0,36.77,55.41ZM48,58.5c-5.63,0-9.23-1.83-9.23-3.09,0-.8,1.67-2.12,5.31-2.76.72,1.1,1.38,2.02,1.86,2.63a2.622,2.622,0,0,0,4.12,0c.48-.61,1.14-1.53,1.86-2.63,3.64.64,5.31,1.96,5.31,2.76C57.23,56.67,53.64,58.5,48,58.5Z"
                  ></path>
                  <path
                    d="M48,33.95a5.09,5.09,0,1,0,5.09,5.09A5.091,5.091,0,0,0,48,33.95Zm0,8.18a3.09,3.09,0,1,1,3.09-3.09A3.1,3.1,0,0,1,48,42.13Z"
                  ></path>
                </g>
              </g></svg
            >
            <span>{t("exhibitor-profile.topic5.item2")}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
