---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title="Worldseafood">
	<main>
		<h3>ESTA ES LA SECCION DE HOME</h3>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, accusantium ea! Error, eaque deleniti similique asperiores magni molestias ipsum tenetur soluta et quis omnis quam, voluptas velit ad sit perspiciatis! Voluptate dolores quis minima aspernatur numquam tempore recusandae maxime incidunt consequatur quae optio, blanditiis placeat natus veniam expedita vel fugit consectetur omnis nostrum, corrupti voluptas explicabo. Numquam libero excepturi aliquam inventore consequuntur culpa quo magni nihil similique incidunt asperiores soluta vero atque, nisi officia eum perspiciatis exercitationem voluptate maxime fugiat voluptas corporis ipsum. Debitis quod aliquam quae eligendi voluptatum, magnam, assumenda voluptates ea, perspiciatis vitae expedita reiciendis consectetur. Repellat, earum?</p>
	</main>
</Layout>

<style>

</style>
