---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title="Worldseafood">
	<main>
		<h3>{t("home.title")}</h3>
	</main>
</Layout>

<style>

</style>
