---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---
<Layout title="">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, eos?</h2>
</Layout>