---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title={t("tab-title.visitor-profile")}>
 <section class="background flex items-center justify-center">
    <div class="w-[850px] py-14">
      <p class="font-bold text-4xl text-center uppercase text-white">
        {t("visitor-profile.title")}
      </p>
    <p class="lg:mx-14 m-8 text-xl text-white text-center"
      set:html={t("visitor-profile.description1")}
    />
    </div>
 </section>
  <section>
    <p class="font-bold text-4xl text-center uppercase text-violet-700 pt-14 pb-4">
      {t("visitor-profile.title2")}
    </p>
    <div
      class="flex lg:flex-row flex-col items-center justify-center lg:gap-4 lg:px-14"
    >
      <div class="w-full sm:w-1/2 p-4">
        <ul class="">
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/comprador.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item1")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/maintenance.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item2")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/reception.webp" alt="" width="65px" class="pr-4" />{
              t("visitor-profile.item3")
            }
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/fisherman.webp" alt="" width="65px" class="pr-4" />{
              t("visitor-profile.item4")
            }
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/builders.webp" alt="" width="65px" class="pr-4" />{
              t("visitor-profile.item5")
            }
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 p-4">
        <ul>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/truck.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item6")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/fish.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item7")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/hands.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item8")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img
              src="/img/graduate-cap.webp"
              alt=""
              width="65px"
              class="pr-4"
            />
            {t("visitor-profile.item9")}
          </li>
          <li class="p-4 font-semibold text-xl flex items-center">
            <img src="/img/engage.webp" alt="" width="65px" class="pr-4" />
            {t("visitor-profile.item10")}
          </li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
<style>
  .background {
    background-image: url("/img/background-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
  }
</style>
